[run]
omit =
	/home/travis/virtualenv/python3.6.3/*
	/home/travis/virtualenv/python3.6.3/lib/*
	/home/travis/virtualenv/python3.6.3/lib/python3.6/*
	/home/travis/virtualenv/python3.6.3/lib/python3.6/distutils/*
	*/migrations/*
	_unused/*
	scripts/*
	venv/*
	python*/*
	python3.4.*/*
	python3.5.*/*
	python3.6.*/*
	staticfiles/*
	tests/*
	lib/*
	django_celery_monitor/*
	/home/travis/virtualenv/*	
	
	## Files
	manage.py
	*/__init__.py
	*.js
	*.css
	*.scss
	*.less