[run]
omit =
	*/migrations/*
	_unused/*
	scripts/*
	venv/*
	python3.4.6/*
	python3.6.3/*
	staticfiles/*
	tests/*
	lib/*
	django_celery_monitor/*
	/home/travis/virtualenv/*
	
	## Files
	manage.py
	*/__init__.py
	*.js
	*.css
	*.scss