{% extends 'admin/admin_base.html' %} {% load staticfiles %} {% block body %}

<div class="row">

    <div class="col s12 l6">
        <div class="card horizontal social-card">
            <div class="card-image">
                <img src="{% static "images/services/twitter.png" %}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Link your account Feedcrunch Account to Twitter and automate your posting workflows.</p>
                </div>
                <div class="card-action" style="text-align: center;" id="twitter-btn-div">
                    {% if twitter_auth_url %}
                        <a href="{{ twitter_auth_url }}" target="_target" class="waves-effect waves-light btn blue socialconnect-btn" id="twitter-btn-link">
                            Link My Twitter Account
                        </a>
                    {% else %}
                        <button class="waves-effect waves-light btn red socialconnect-btn" id="twitter-btn-unlink">
                            Unlink My Twitter Account
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 l6">
        <div class="card horizontal social-card">
            <div class="card-image">
                <img src="{% static "images/services/facebook.png" %}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Link your Feedcrunch Account to Facebook and automate your posting workflows.</p>
                </div>
                <div class="card-action" style="text-align: center;" id="facebook-btn-div">
                    {% if facebook_auth_url %}
                        <a href="{{ facebook_auth_url }}" target="_target" class="waves-effect waves-light btn blue socialconnect-btn" id="facebook-btn-link">
                            Link My Facebook Account
                        </a>
                    {% else %}
                        <button class="waves-effect waves-light btn red socialconnect-btn" id="facebook-btn-unlink">
                            Unlink My Facebook Account
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 l6">
        <div class="card horizontal social-card">
            <div class="card-image">
                <img src="{% static "images/services/linkedin.png" %}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Link your Feedcrunch Account to LinkedIn and automate your posting workflows.</p>
                </div>
                <div class="card-action" style="text-align: center;" id="linkedin-btn-div">
                    {% if linkedin_auth_url %}
                        <a href="{{ linkedin_auth_url }}" target="_target" class="waves-effect waves-light btn blue socialconnect-btn" id="linkedin-btn-link">
                            Link My Linkedin Account
                        </a>
                    {% else %}
                        <button class="waves-effect waves-light btn red socialconnect-btn" id="linkedin-btn-unlink">
                            Unlink My Linkedin Account
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 l6">
        <div class="card horizontal social-card">
            <div class="card-image">
                <img src="{% static "images/services/slack.png" %}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Link your Feedcrunch Account to Slack Teams and automate your posting workflows.</p>
                </div>
                <div class="card-action" style="text-align: center;" id="slack-btn-div">
                    <a href="slack/" class="waves-effect waves-light btn blue socialconnect-btn">
                        Link to a Slack Team
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
