{% extends 'admin/admin_base.html' %}
{% load static %}

{% block body %}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Select the article you would like to
                    {% if 'edit' in request.path %}
                        edit
                    {% else %}
                        delete
                    {% endif %}
                </span>

                <div class="table-head-bar">
                    <div class="input-field col s6" id="datatable-searchbar-div">
                        <i class="material-icons prefix" style="padding-top: 10px;">search</i>
                        <input id="article-searchbar" type="text" >
                        <label for="article-searchbar">Search in your articles</label>
                    </div>
                </div>
                <table class="display responsive-table" id="post-listing" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Domain</th>
                            <th>Date</th>
                            <th>Link</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.get_domain }}</td>
                            <td>{{ post.get_shortdate }}</td>
                            <td>
                                {% if 'edit' in request.path %}
                                    <a href="{{ post.id }}">Edit</a>
                                {% elif 'delete' in request.path %}
                                    <a class="delete-link" data-id="{{ post.id }}" href="#">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
