{% extends 'admin/admin_base.html' %}
{% load staticfiles %}

{% block body %}

<div class="row">
    <div class="col s12 l10 offset-l1">
        <div class="card">
            <div class="card-content">
                <div class="row no-margin-bottom">
                    <div class="col s12 l4" style="text-align:center">
                        <figure class="card-profile-image">
                            <img src="{{ user.get_profile_picture_url }}" alt="profile image" class="circle z-depth-2 responsive-img profile-card-picture" >
                        </figure>
                        <p>
                            <span style="font-size:1.7em;">{{ user.get_full_name }}</span><br>
                            (@{{ user.username }})
                        </p>
                    </div>
                    <div class="col s12 l8">
                        <div class="row no-margin-bottom">
                            <div class="col s12">
                                <h4 class="card-title grey-text text-darken-4">Set your default posting preferences</h4>
                            </div>
                            <span class="card-title col s12 social-networks-category-title">Posting Preferences</span>
                            <div class="col s12">
                                <div class="input-field col s12 l6">
                                    <div class="switch m-b-md">
                                        <label>
                                            <input type="checkbox" id="visibility" name="visibility" data-init="{{ user.pref_post_public_visibility }}">
                                            <span class="lever"></span>
                                            Article Publicly Visible
                                        </label>
                                    </div>
                                </div>
                                <div class="input-field col s12 l6" >
                                    <div class="switch m-b-md">
                                        <label>
                                            <input type="checkbox" id="autoformat" name="autoformat" data-init="{{ user.pref_post_autoformat }}">
                                            <span class="lever"></span>
                                            Article's Title AutoFormat
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <span class="card-title col s12 social-networks-category-title">Social Sharing Preferences</span>
                            <div class="col s12">
                                <div class="input-field col s12 l6">
                                    <div class="switch m-b-md">
                                        <label>
                                            {% if social_networks_enabled.twitter %}
                                                <input type="checkbox" id="twitter" name="twitter" data-init="{{ user.pref_post_repost_TW }}">
                                            {% else %}
                                                <input type="checkbox" id="twitter" name="twitter" disabled>
                                            {% endif %}
                                            <span class="lever"></span>
                                            RePost on Twitter
                                        </label>
                                    </div>
                                </div>
                                <div class="input-field col s12 l6">
                                    <div class="switch m-b-md">
                                        <label>
                                            {% if social_networks_enabled.facebook %}
                                                <input type="checkbox" id="facebook" name="facebook" data-init="{{ user.pref_post_repost_FB }}">
                                            {% else %}
                                                <input type="checkbox" id="facebook" name="facebook" disabled>
                                            {% endif %}
                                            <span class="lever"></span>
                                            RePost on Facebook
                                        </label>
                                    </div>
                                </div>
                                <div class="input-field col s12 l6">
                                    <div class="switch m-b-md">
                                        <label>
                                            {% if social_networks_enabled.linkedin %}
                                                <input type="checkbox" id="linkedin" name="linkedin" data-init="{{ user.pref_post_repost_LKin }}">
                                            {% else %}
                                                <input type="checkbox" id="linkedin" name="linkedin" disabled>
                                            {% endif %}
                                            <span class="lever"></span>
                                            RePost on LinkedIn
                                        </label>
                                    </div>
                                </div>
                                <div class="input-field col s12 l6">
                                    <div class="switch m-b-md">
                                        <label>
                                            {% if social_networks_enabled.slack %}
                                                <input type="checkbox" id="slack" name="slack" data-init="{{ user.pref_post_repost_Slack }}">
                                            {% else %}
                                                <input type="checkbox" id="slack" name="slack" disabled>
                                            {% endif %}
                                            <span class="lever"></span>
                                            RePost on Slack
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12" style="text-align:right; margin-top:40px;">
                                <a class="waves-effect waves-light btn red m-b-xs" id="reset-btn">Reset</a>
                                <a class="waves-effect waves-light btn blue m-b-xs" id="save-btn">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
