{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Title -->
		<title>FeedCrunch.IO | Administration Dashboard</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta charset="UTF-8">
		<meta name="description" content="FeedCrunch.IO | Administration Dashboard" />
		<meta name="keywords" content="administration,dashboard, feedcrunch, rss" />
		<meta name="author" content="Jonathan DEKHTIAR" />

		<!-- Styles -->

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link type="text/css" rel="stylesheet" href="{% static "plugins/materialize/css/materialize.min.css" %}"/>
		<link type="text/css" rel="stylesheet" href="{% static "plugins/metrojs/MetroJs.min.css" %}"/>

		{% if template_name == "admin/admin_dashboard.html" %}

		{% elif template_name == "admin/admin_form_template.html" %}

		{% elif template_name == "admin/admin_article_form.html" %}
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">
			<link type="text/css" rel="stylesheet" href="{% static "plugins/materialize-tags/css/materialize-tags.min.css" %}">

		{% elif template_name == "admin/admin_post_listing.html" %}
			<link rel="stylesheet" type="text/css" href="{% static "plugins/datatables/css/datatables.min.css" %}">
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

		{% elif template_name == "admin/admin_reading_recommendation.html" %}
			<link rel="stylesheet" type="text/css" href="{% static "plugins/datatables/css/datatables.min.css" %}">
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

		{% elif template_name == "admin/admin_personal.html" %}
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

		{% elif template_name == "admin/admin_preferences.html" %}
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

		{% elif template_name == "admin/admin_profile_picture.html" %}
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

		{% elif template_name == "admin/admin_password.html" %}
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

		{% elif template_name == "admin/admin_social_accounts.html" %}
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

		{% elif template_name == "admin/admin_photo.html" %}
			<link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

		{% elif template_name == "admin/admin-coming-soon.html" %}
			<link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,200,600|Open+Sans:400,300,600,700|Montserrat:400,700" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="{% static "css/admin-coming-soon.css" %}">

		{% endif %}

		<!-- Theme Styles -->
		<link type="text/css" rel="stylesheet" href="{% static "css/alpha_.css" %}"/>
		<link type="text/css" rel="stylesheet" href="{% static "css/custom-admin.css" %}"/>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script type="text/javascript" src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" %}"></script>
			<script type="text/javascript" src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js" %}"></script>
		<![endif]-->

	</head>
	<body>
		<div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
		<div class="mn-content fixed-sidebar">
			<header class="mn-header navbar-fixed">
				<nav class="indigo accent-3">
					<div class="nav-wrapper row">
						<section class="material-design-hamburger navigation-toggle">
							<a href="javascript:void(0)" data-activates="slide-out" class="button-collapse show-on-large material-design-hamburger__icon">
								<span class="material-design-hamburger__layer"></span>
							</a>
						</section>
						<div class="header-title col s3 m3">
							<img src="{% static "images/logo_.png" %}" style="height:15px;">
						</div>
						<form class="left search col s6 hide-on-small-and-down">
							<div class="input-field">
								<input id="search" type="search" placeholder="Search" autocomplete="off">
								<label for="search"><i class="material-icons search-icon">search</i></label>
							</div>
							<a href="javascript: void(0)" class="close-search"><i class="material-icons">close</i></a>
						</form>

					</div>
				</nav>
			</header>

			<div class="search-results">
				<div class="container search-container">
					<div class="row">
						<!--
						<div class="col s12 search-head">
							<div class="row">
								<div class="col s12">
									<div class="left">
										<p class="search-results-title">Quick search results</p>
										<p class="search-filter left">
											<input type="checkbox" class="filled-in" id="filled-in-box" checked/>
											<label for="filled-in-box">Google search</label>
										</p>
									</div>
								</div>
							</div>
							<div class="res-not-found">No results found</div>
						</div>
						<div class="col s12 m4 search-result-container">
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<img src="{% static "images/profile-image-1.png" %}" alt="" class="circle responsive-img z-depth-1">
									</div>
									<div class="col s9">
										<span class="search-result-text">
											Search <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text">Last active 2 days ago</span>
										</span>
									</div>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<img src="{% static "images/profile-image-3.jpg" %}" alt="" class="circle responsive-img z-depth-1">
									</div>
									<div class="col s9">
										<span class="search-result-text">
											News about <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text">23 Blogs</span>
										</span>
									</div>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<img src="{% static "images/profile-image.png" %}" alt="" class="circle responsive-img z-depth-1">
									</div>
									<div class="col s9">
										<span class="search-result-text">
											Tom King (Works at <span class="search-text search-result-highlight"></span>)<br><span class="secondary-search-text">Avaible for freelance work</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 m4 search-result-container">
							<div class="card card-transparent ">
								<div class="row valign-wrapper">
									<div class="col s3">
										<span class="z-depth-1 circle search-circle indigo lighten-1">F</span>
									</div>
									<div class="col s9">
										<span class="search-result-text">
											<span class="search-text search-result-highlight"></span> on Facebook<br><span class="secondary-search-text"><a href="#">View website</a></span>
										</span>
									</div>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<span class="z-depth-1 circle search-circle light-blue lighten-1">T</span>
									</div>
									<div class="col s9">
										<span class="search-result-text">
											<span class="search-text search-result-highlight"></span> on Twitter<br><span class="secondary-search-text"><a href="#">View website</a></span>
										</span>
									</div>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<span class="z-depth-1 circle search-circle red darken-1">G</span>
									</div>
									<div class="col s9">
										<span class="search-result-text">
											Google+ <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text"><a href="#">View website</a></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 m4 search-result-container">
							<div class="card card-transparent">
								<div class="card-content first">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sunt in culpa qui<span class="search-text search-result-highlight"></span> quis.</p>
								</div>
								<div class="card-action">
									<span class="grey-text">Yesterday, 4:56 PM</span>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="card-content">
									<p>Sunt in culpa qui <span class="search-text search-result-highlight"></span> officia deserunt mollit anim id est laborum. officia deserunt mollit anim id est laborum officia deserunt mollit anim</p>
								</div>
								<div class="card-action">
									<span class="grey-text">27 January 2016</span>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<aside id="slide-out" class="side-nav white fixed">
				<div class="side-nav-wrapper">
					<div class="sidebar-profile">
						<div class="sidebar-profile-image">
							<img src="{{ user.get_profile_picture }}" class="circle" alt="">
						</div>
						<div class="sidebar-profile-info">
							<a href="javascript:void(0);" class="account-settings-link">
								<p>{{ user.get_full_name }} <span>(@{{ user.username }})</span></p>
								<span>{{ user.email }}</span>
							</a>
						</div>
					</div>
					<ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
						<li class="no-padding"><a class="waves-effect waves-grey" href="#" id="dashboard-link-menu"><i class="material-icons">assessment</i>Dashboard</a></li>
						<li class="no-padding">
							<a class="collapsible-header waves-effect waves-grey no-background"><i class="material-icons">perm_identity</i>Account Settings<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
							<div class="collapsible-body no-background">
								<ul>
									<li><a href="#" id="personal-info-link-menu"><i class="material-icons">list</i>Personal Information</a></li>
									<li><a href="#" id="preferences-link-menu"><i class="material-icons">settings_input_component</i>My Preferences</a></li>
									<li><a href="#" id="password-link-menu"><i class="material-icons">lock_outline</i>Modify My Password</a></li>
									<li><a href="#" id="profile-pict-link-menu"><i class="material-icons">local_see</i>My Profile Picture</a></li>
									<li><a href="#" id="social-link-menu"><i class="material-icons">supervisor_account</i>My Social Networks</a></li>
									<li><a href="#" id="services-link-menu"><i class="material-icons">share</i>Social Sharing</a></li>
								</ul>
							</div>
						</li>
						<li class="no-padding">
							<a class="collapsible-header waves-effect waves-grey no-background"><i class="material-icons">library_books</i>Publication Board<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
							<div class="collapsible-body no-background">
								<ul>
									<li><a href="#" id="add-article-link-menu"><i class="material-icons">note_add</i>Add an Article</a></li>
									<li><a href="#" id="edit-article-link-menu"><i class="material-icons">mode_edit</i>Modify an Article</a></li>
									<li><a href="#" id="delete-article-link-menu"><i class="material-icons">delete</i>Delete an Article</a></li>
								</ul>
							</div>
						</li>
						<li class="no-padding">
							<a class="collapsible-header waves-effect waves-grey no-background"><i class="material-icons">whatshot</i>My Readings<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
							<div class="collapsible-body no-background">
								<ul>
									<li><a href="#" id="reading-sub-management"><i class="material-icons">tune</i>Manage Subscribtions</a></li>
									<li><a href="#" id="reading-recommendation"><i class="material-icons">bookmark</i>Get Recommendations</a></li>
								</ul>
							</div>
						</li>
						<li class="no-padding"><a class="waves-effect waves-grey" href="#" id="contact-link-menu"><i class="material-icons">email</i>Contact Us</a></li>
						<li class="divider"></li>
						<li class="no-padding"><a class="waves-effect waves-grey" href="#" id="my-feed-menu" target="_blank"><i class="material-icons">timeline</i>Go to my Feed</a></li>
						<li class="divider"></li>
						<li class="no-padding">
							<a class="waves-effect waves-grey" href="/logout"><i class="material-icons">exit_to_app</i>Sign Out</a>
						</li>
					</ul>
				</div>
			</aside>
			<main class="mn-inner inner-active-sidebar">
				<div class="middle-content">
					<!-- =================================== ############################################# ==================================== -->
					{% block body %}

					{% endblock %}
					<!-- =================================== ############################################# ==================================== -->
				</div>
			</main>
		</div>

		<!-- Javascripts -->
		<script type="text/javascript" src="{% static "plugins/jquery/jquery-2.2.0.min.js" %}"></script>
		<script type="text/javascript" src="{% static "plugins/materialize/js/materialize.min.js" %}"></script>
		<script type="text/javascript" src="{% static "plugins/material-preloader/js/materialPreloader.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/alpha.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/admin-menu.js" %}"></script>

		{% if template_name == "admin/admin_dashboard.html" %}
			<script type="text/javascript" src="{% static "plugins/counter-up-master/jquery.counterup.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/flot/jquery.flot.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/dashboard.js" %}"></script>

		{% elif template_name == "admin/admin_article_form.html" %}
			<script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/typeahead-js-corejs/typeahead.bundle.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/materialize-tags/js/materialize-tags.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/jquery-validation/jquery.validate.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/admin-form-article.js" %}"></script>

		{% elif template_name == "admin/admin_post_listing.html" %}
			<script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/datatables/js/datatables.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/jquery-highlight/jquery.highlight.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/post-listing.js" %}"></script>

		{% elif template_name == "admin/admin_personal.html" %}
			<script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/jquery-validation/jquery.validate.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/admin-personal.js" %}"></script>

		{% elif template_name == "admin/admin_preferences.html" %}
			<script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/admin-preferences.js" %}"></script>

		{% elif template_name == "admin/admin_profile_picture.html" %}
			<script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/admin-profile-picture.js" %}"></script>

		{% elif template_name == "admin/admin_password.html" %}
			<script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/jquery-validation/jquery.validate.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/admin-password.js" %}"></script>

		{% elif template_name == "admin/admin_social_accounts.html" %}
			<script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/jquery-validation/jquery.validate.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/admin-social-accounts.js" %}"></script>

		{% elif template_name == "admin/admin_photo.html" %}
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/admin-photo.js" %}"></script>


		{% elif template_name == "admin/admin-coming-soon.html" %}
			<script type="text/javascript" src="{% static "js/admin-coming-soon.js" %}"></script>

		{% elif template_name == "admin/admin_reading_recommendation.html" %}
			<script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/datatables/js/datatables.min.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/jquery-highlight/jquery.highlight.js" %}"></script>
			<script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/post-recommendations.js" %}"></script>

		{% endif %}


	</body>
</html>
