{% extends 'admin/admin_base.html' %}
{% load staticfiles %}

{% block body %}

<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					Select the article you would like to republish in your feed.
				</span>

				<div class="input-field col s6" id="datatable-searchbar-div">
					<i class="material-icons prefix" style="padding-top: 10px;">search</i>
					<input id="article-searchbar" type="text" >
					<label for="article-searchbar">Search in your recommendations</label>
				</div>

				<table class="display responsive-table" id="recommendation-listing" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th style="text-align: center;">Title</th>
							<th style="text-align: center;">Feed</th>
							<th style="text-align: center;">Domain</th>
							<th style="text-align: center;">Hotness</th>
							<th style="text-align: center;">Publish</th>
						</tr>
					</thead>

					<tbody>

						{% for rssarticle in rssarticles %}
						<tr>
							<td>{{ rssarticle.title }}</td>
							<td style="text-align: center;">{{ rssarticle.rssfeed }}</td>
							<td style="text-align: center;">{{ rssarticle.get_domain }}</td>
							<td style="color: rgb({{ rssarticle.color }},0,0); text-align: center;">{{ rssarticle.score }}%</td>
							<td style="text-align: center;">
								<a class="btn-floating btn waves-effect waves-light red delete-btn"><i class="material-icons small-icon-listing">delete_forever</i></a>
								<a class="btn-floating btn waves-effect waves-light blue" href="{{ rssarticle.link }}" target="_blank"><i class="material-icons small-icon-listing">open_in_new</i></a>
								<a class="btn-floating btn waves-effect waves-light green share-btn modal-trigger" href="#article-publication-modal" data-id="{{ rssarticle.id }}" data-title="{{ rssarticle.title }}" data-link="{{ frssarticle.link }}">
									<i class="material-icons small-icon-listing">share</i>
								</a>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal RSS Feed -->
<div id="article-publication-modal" class="modal">
	<div class="modal-content">
		<h4 id="modal-rss-header"></h4>
		<form>

			<div class="row">

				<div class="input-field col m6 s12">
					<label for="rssfeed_link">RSS Feed Link</label>
					<input id="rssfeed_link" name="rssfeed_link" data-init="" type="text" class="validate">
					<div id="link-ajax-rslt">&emsp;</div>
				</div>

				<div class="input-field col m6 s12">
					<label for="rssfeed_title">RSS Feed Title</label>
					<input id="rssfeed_title" name="rssfeed_title" data-init="" type="text" class="validate">
				</div>

				<input type="hidden" id="rssfeed_id" data-init="" value="-1">

				<div class="input-field col m12">
					<span id="reload-info"></span>
				</div>
			</div>

			<div class="row" style="text-align:right;">
				<a class="modal-action modal-close waves-effect waves-light btn white m-b-xs" id="close-btn-rssfeed">Close Modal</a>
				<a class="waves-effect waves-light btn red m-b-xs" id="reset-btn-rssfeed">Reset</a>
				<a class="waves-effect waves-light btn blue m-b-xs" id="save-btn-rssfeed">Save</a>
			</div>

		</form>
	</div>
</div>
{% endblock %}
