{% extends 'admin/admin_base.html' %}
{% load staticfiles %}

{% block body %}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div>
                    <div class="valign-wrapper">
                        <img src="{% static "images/services/SlackBotHead.png" %}" class="slackBotHead">
                        <h4>Manage your Publication Settings for Slack</h4>
                    </div>

                    <div class="row" style="margin: 80px 0;">
                        <div class="col s12 m7 offset-m5 l5 offset-l7 xl4 offset-xl6">
                            <a class="waves-effect waves-light btn white valign-wrapper add_slackteam_btn" href="{{ slack_auth_url }}" target="_blank">
                                    <img src="{% static "images/services/slack-btn-icon.png" %}" class="add_slackteam_btn_img">
                                    <span class="add_slackteam_btn_label">Add a Slack Team</span>
                            </a>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col m12 xl8 offset-xl2">
                            <i style="margin-bottom: 20px; display: block;">Click on any team to expand and manage publications per channel.</i>
                            <ul class="collapsible" data-collapsible="accordion">
                                {% for team, channels in teams.items %}
                                    <li class="slack-team">
                                        <div class="collapsible-header" class="slack-team-div">
                                            <i class="material-icons">group</i>
                                            Team Slack:
                                            <span style="font-weight: bold;" class="slack-team-name">{{ team }}</span>
                                            <div class="secondary-content">
                                                <button class="waves-effect waves-light btn red unlink-slack-team-btn">Unlink this team from my account</button>
                                            </div>
                                        </div>
                                        <div class="collapsible-body collection">
                                            <span style="margin-bottom: 15px;margin-top: -10px;display: block;">Channels available for publication:</span>
                                            <ul class="collection">
                                                {% for channel in channels %}
                                                <li class="collection-item dismissable">
                                                    <div>
                                                        {% if channel.public %}
                                                            <i class="material-icons" style="vertical-align: middle;">public</i>
                                                        {% else %}
                                                            <i class="material-icons" style="vertical-align: middle;">lock</i>
                                                        {% endif %}
                                                        <span class="slack-channel-name">{{ channel.name }}</span>
                                                        <div class="switch secondary-content">
                                                            <label>
                                                                <input type="checkbox" data-init="{{ channel.active|yesno:"true,false" }}" class="slack-team-switch">
                                                                <span class="lever"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row row-submit">
                        <div class="col s12 m6 l4 offset-l2">
                            <a class="waves-effect waves-light btn red" id="reset" style="width: 100%;"><i class="material-icons left">delete</i>Reset</a>
                        </div>
                        <div class="col s12 m6 l4">
                            <a class="waves-effect waves-light btn light-blue darken-2 m-b-xs" id="submit"  style="width: 100%;"><i class="material-icons left">done</i>Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
