{% extends 'admin/admin_base.html' %}
{% load staticfiles %}

{% block body %}
<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card">
            <div class="card-content">

                <h1 class="text-header">
                    <span class="polyfy-title">We are the FeedCrunch</span>
                </h1>

                <p class="text-intro">
                    This feature is coming very soon!<br><br>
                    ~ Stay tuned! ~
                 </p>

                <a href="" id="dashboard-btn" class="waves-effect waves-light btn-large indigo">My Dashboard</a>

                <a href="#" id="feed-btn" class="waves-effect waves-light btn-large blue">My Feed</a>

            </div>
        </div>
    </div>
</div>


{% endblock %}
