{% extends 'admin/admin_base.html' %}
{% load static %}

{% block body %}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <form>
                    <div class="wizard clearfix">
                        <div class="steps clearfix">
                            <ul style="width: 100%; overflow-x: hidden;" class="tabs">
                                <li class="tab">
                                    <a class="active">Personal Info</a>
                                </li>
                            </ul>
                        </div>
                        <section>
                            <div class="row" style="margin-top:70px;">
                                <div class="col m6">
                                    <div class="row">
                                        <div class="input-field col m6 s12">
                                            <label for="firstname">First name</label>
                                            <input id="firstname" name="firstname" type="text" class="required validate" aria-required="true" data-init="{{ user.first_name }}" value="{{ user.first_name }}">
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <label for="lastname">Last name</label>
                                            <input id="lastname" name="lastname" type="text" class="required validate" aria-required="true" data-init="{{ user.last_name }}" value="{{ user.last_name }}">
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <label for="email">Email Address</label>
                                            <input id="email" name="email" type="email" class="required validate" aria-required="true" data-init="{{ user.email }}" value="{{ user.email }}">
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <label for="birthdate" id="birthdate-label">Birthdate</label>
                                            <input id="birthdate" name="birthdate" type="date" class="datepicker required" {% if user.get_birthdate_as_string is not None %} data-init="{{ user.get_birthdate_as_string }}" {% endif %}>
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <select id="gender" class="required validate" aria-required="true" data-init="{{ user.gender }}" >
                                                <option selected disabled>Select One Gender</option>
                                                {% if user.gender == 'M' %}
                                                    <option value="F">Female</option>
                                                    <option value="M" selected>Male</option>
                                                    <option value="O">Other</option>
                                                {% elif user.gender == 'F' %}
                                                    <option value="F" selected>Female</option>
                                                    <option value="M">Male</option>
                                                    <option value="O">Other</option>
                                                {% elif user.gender == 'O' %}
                                                    <option value="F">Female</option>
                                                    <option value="M">Male</option>
                                                    <option value="O" selected>Other</option>
                                                {% else %}
                                                    <option value="F">Female</option>
                                                    <option value="M">Male</option>
                                                    <option value="O">Other</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <select id="country" class="required validate" aria-required="true" data-init="{{ user.country }}">
                                                <option selected disabled>Where are you from ?</option>
                                                {% for country in countries %}
                                                    {% if user.country == country %}
                                                        <option selected >{{ country.name }}</option>
                                                    {% else %}
                                                        <option>{{ country.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="input-field col m12">
                                            <label for="feedtitle">RSS Feed Title</label>
                                            <input id="feedtitle" name="feedtitle" type="text" data-init="{{ user.rss_feed_title }}" value="{{ user.rss_feed_title }}">
                                        </div>
                                        <div class="input-field col s12" style="margin-top:60px;">
                                            <div class="switch m-b-md">
                                                <label>
                                                    <input type="checkbox" id="newsletter_subscription" name="newsletter_subscription" data-init="{{ user.pref_newsletter_subscription }}">
                                                    <span class="lever"></span>
                                                    Get news and updates from FeedCrunch
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col m6">
                                    <div class="row">
                                        <div class="input-field col m6 s12">
                                            <label for="company_name">Company name</label>
                                            <input id="company_name" name="company_name" type="text" class="validate" data-init="{{ user.company_name }}" value="{{ user.company_name }}">
                                        </div>
                                        <div class="input-field col m6 s12">
                                            <label for="company_website">Company Website</label>
                                            <input id="company_website" name="company_website" type="text" class="validate" data-init="{{ user.company_website }}"  value="{{ user.company_website }}">
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="job">Job Title</label>
                                            <input id="job" name="job" type="text" class="validate" data-init="{{ user.job }}" value="{{ user.job }}">
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea id="description" class="validate materialize-textarea description-textarea" data-init="{{ user.description }}">{{ user.description }}</textarea>
                                            <label for="description" class="">Description</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>
                <div class="row" style="text-align:right;">
                    <a class="waves-effect waves-light btn red m-b-xs" id="reset-btn">Reset</a>
                    <a class="waves-effect waves-light btn blue m-b-xs" id="save-btn">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
