{% extends 'admin/admin_base.html' %}
{% load staticfiles %}

{% block body %}

<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					Select the feed you would like to edit or delete
				</span>
				<span class="card-title">
					Total Subscribtions : {{ feeds.count }}
				</span>

				<div class="table-head-bar">

					<div class="input-field col s12 l6" id="datatable-searchbar-div">
						<i class="material-icons prefix" style="padding-top: 10px;">search</i>
						<input id="sub-searchbar" type="text" >
						<label for="sub-searchbar">Search in your subscribtions</label>
					</div>

					<div class="input-field col s12 m6 l3">
						<a class="waves-effect waves-light btn blue m-b-xs btn-table-head-bar modal-trigger" href="#modal-addfeed">Add a RSS Feed</a>
					</div>

					<div class="input-field col s12 m6 l3">
						<a class="waves-effect waves-light btn green m-b-xs btn-table-head-bar modal-trigger" href="#modal-opml">Import an OPML File</a>
					</div>

				</div>

				<table class="display responsive-table" id="sub-listing" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>ID</th>
							<th>Title</th>
							<th>Domain</th>
							<th>Link</th>
							<th>Articles Retrieved</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>

					<tbody>

						{% for feed in feeds %}
						<tr>
							<td>{{ feed.id }}</td>
							<td>{{ feed.title }}</td>
							<td>{{ feed.get_domain }}</span>
							<td>{{ feed.link }}</td>
							<td>{{ feed.count_articles }}</td>
							<td><a href="#{{ feed.id }}">Edit</a></td>
							<td><a class="delete-feed" data-id="{{ feed.id }}" href="#">Delete</a></td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal Add RSS Feed -->
<div id="modal-addfeed" class="modal">
    <div class="modal-content">
        <h4>Modal Header - ADD RSS</h4>
		<form>

			<div class="row">

				<div class="input-field col m6 s12">
					<label for="rssfeed_link">RSS Feed Link</label>
					<input id="rssfeed_link" name="rssfeed_link" type="text" class="validate">
					<div id="link-ajax-rslt">&emsp;</div>
				</div>

				<div class="input-field col m6 s12">
					<label for="rssfeed_title">RSS Feed Title</label>
					<input id="rssfeed_title" name="rssfeed_title" type="text" class="validate">
				</div>

			</div>

			<div class="row" style="text-align:right;">
				<a class="modal-action modal-close waves-effect waves-light btn white m-b-xs" id="close-btn-rssfeed">Close Modal</a>
				<a class="waves-effect waves-light btn red m-b-xs" id="reset-btn-rssfeed">Reset</a>
				<a class="waves-effect waves-light btn blue m-b-xs" id="save-btn-rssfeed">Save</a>
			</div>

		</form>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal-opml" class="modal">
    <div class="modal-content">
        <h4>Modal Header - Import OPML</h4>

		<form>

			<div class="row">
				<div class="file-field input-field">
					<div class="btn teal lighten-1">
						<span>OPML File</span>
						<input type="file" id="opml-file" name="opml-file">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text" id="opml-text-file" name="opml-text-file">
					</div>
				</div>
			</div>

			<div class="row" style="text-align:right;">
				<a class="modal-action modal-close waves-effect waves-light btn white m-b-xs" id="close-btn-opml">Close Modal</a>
				<a class="waves-effect waves-light btn red m-b-xs" id="reset-btn-opml">Reset</a>
				<a class="waves-effect waves-light btn blue m-b-xs" id="save-btn-opml">Save</a>
			</div>

		</form>

    </div>
</div>
{% endblock %}
