{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
        <title>FeedCrunch.IO | Administration Dashboard</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="FeedCrunch.IO | Administration Dashboard" />
        <meta name="keywords" content="administration,dashboard, feedcrunch, rss" />
        <meta name="author" content="Jonathan DEKHTIAR" />

        <link href="{% static "images/favicon.ico" %}" rel="shortcut icon">

        <link rel="apple-touch-icon" sizes="60x60" href="{% static "onboarding/img/icons/touch-icon-iphone-60x60.png" %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "onboarding/img/icons/touch-icon-ipad-76x76.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "onboarding/img/icons/touch-icon-iphone-retina-120x120.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "onboarding/img/icons/touch-icon-ipad-retina-152x152.png" %}">

        <!-- Fonts -->
        <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
        <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{% static "plugins/materialize/css/materialize.min.css" %}"/>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.css" integrity="sha256-hjogeqn8q8sMZJjGea/UNQJGikkDn0quFnnsn6p1x88=" crossorigin="anonymous" /> -->
        <link type="text/css" rel="stylesheet" href="{% static "plugins/metrojs/MetroJs.min.css" %}"/>
        <link type="text/css" rel="stylesheet" href="{% static "plugins/sweetalert/sweetalert.css" %}">

        <!-- Theme Styles -->
        <link type="text/css" rel="stylesheet" href="{% static "css/alpha.min.css" %}"/>
        <link type="text/css" rel="stylesheet" href="{% static "onboarding/css/onboarding.css" %}">

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-spinner-teal lighten-1">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn-content valign-wrapper">
            <header class="mn-header navbar-fixed">
                <nav class="indigo accent-3">
                    <div class="nav-wrapper row">
                        <div class="header-title col s3 m3">
                            <a href="/"><img src="{% static "images/logo-white.png" %}" style="height:15px;"></a>
                        </div>
                        <form class="left search col s6 hide-on-small-and-down">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Search" autocomplete="off">
                                <label for="search"><i class="material-icons search-icon">search</i></label>
                            </div>
                            <a href="javascript: void(0)" class="close-search"><i class="material-icons">close</i></a>
                        </form>
                    </div>
                </nav>
            </header>

            <main class="mn-inner">
                <div class="row">
                    <!-- progressbar -->
                    <ul id="progressbar" class="msform">
                        <li class="active">Interests Selection</li>
                        <li>Social Profiles</li>
                        <li>Personal Details</li>
                    </ul>

                    <!-- fieldsets -->
                    <fieldset class="onboarding_fieldset">
                        <div class="col-md-12 fieldset-div">
                            <div class="col-lg-3 hidden-md-down side-panel">
                                <div class="header text-center">
                                    <h1>
                                        How does it work ?
                                    </h1>
                                </div>
                                <div class="explainer">
                                    <h2>Follow</h2>
                                    <p>Our personalization workflow starts to work once you have selected 3 interests to follow.</p>
                                    <h2>Reading and Reading</h2>
                                    <p>Next, we track which content you read and share</p>
                                    <h2 class="hide_laptop">Learn</h2>
                                    <p class="hide_laptop">Based on your actions, your reading experience will be increasingly personalised to your interests.</p>
                                </div>
                                <div class="read-blog">
                                    <div class="aligner">
                                        <p>Read the technical deep-dive about personalization</p><a href="https://blog.feedcrunch.io/" target="_blank" class="btn btn-outline-primary btn-blog">Read More</a></div>
                                </div>
                            </div>
                            <div class="topics col-lg-9 col-md-12">
                                {% for interest in interests %}
                                <div class="topic col-lg-3 col-md-6 col-sm-12">
                                    <input type="checkbox" class="interest-checkbox" id="topic-{{ interest.guid }}" data-name="{{ interest.name }}">
                                    <label for="topic-{{ interest.guid }}" class="interest-lbl" style='background-image: url("{{ interest.get_photo_path }}");'>
                                        <span>{{ interest.name }}</span>
                                    </label>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="col-md-12 next-fieldset-btn">
                            <button type="button" id="interests-btn" class="btn col-md-3 blue darken-2 m-b-xs next" disabled>Select 3 Interests to Continue ...</button>
                        </div>
                    </fieldset>

                    <fieldset class="onboarding_fieldset">
                        <div class="col-md-12 fieldset-div">
                            <div class="col-lg-3 hidden-md-down side-panel">
                                <div class="header text-center">
                                    <h1>
                                        Why Linking Your Accounts
                                    </h1>
                                </div>
                                <div class="explainer">
                                    <h2>Social Sharing</h2>
                                    <p>You have the opportunity to share your daily readings on the most famous social platforms.</p>

                                    <h2>Create a Community</h2>
                                    <p>Position yourself as an authority in your domain and build a community around your shares.</p>

                                    <h2 class="hide_laptop">Create Opportunities</h2>
                                    <p class="hide_laptop">Help your followers to find the best contents everyday, it will be rewardful.</p>
                                </div>
                                <div class="read-blog">
                                    <div class="aligner">
                                        <p>Read the technical deep-dive about personalization</p><a href="https://blog.feedcrunch.io/" target="_blank" class="btn btn-outline-primary btn-blog">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-12 height100">
                                <div class="row height100">

                                    <!-- Twitter Card -->
                                    <div class="col s12 m6 social_card">
                                        <div class="white height100">
                                            <div class="card" id="profile-page-header">
                                                <div class="card-image header-img">
                                                    <img alt="user background" class="activator" src="{% static "images/social-logos/bg-tw.jpg" %}">
                                                </div>
                                                <figure class="card-profile-image">
                                                    <img alt="profile image" class="circle z-depth-2 responsive-imgMod activator" src="{% static "images/social-logos/twitter.png" %}">
                                                </figure>
                                                <div class="card-content">
                                                    <div class="row social-btn-row">
                                                        <div class="col s12" id="twitter-btn-div">
                                                            {% if twitter_auth_url %}
                                                                <a href="{{ twitter_auth_url }}" target="_target" class="waves-effect waves-light btn blue socialconnect-btn" id="twitter-btn-link">
                                                                    Link My Twitter Account
                                                                </a>
                                                            {% else %}
                                                                <button class="waves-effect waves-light btn red socialconnect-btn" id="twitter-btn-unlink">
                                                                    Unlink My Twitter Account
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Facebook Card -->
                                    <div class="col s12 m6 social_card">
                                        <div class="white height100">
                                            <div class="card" id="profile-page-header">
                                                <div class="card-image header-img">
                                                    <img alt="user background" class="activator" src="{% static "images/social-logos/bg-fb.jpg" %}">
                                                </div>
                                                <figure class="card-profile-image">
                                                    <img alt="profile image" class="circle z-depth-2 responsive-imgMod activator" src="{% static "images/social-logos/facebook.png" %}">
                                                </figure>
                                                <div class="card-content">
                                                    <div class="row social-btn-row">
                                                        <div class="col s12" id="facebook-btn-div">
                                                            {% if facebook_auth_url %}
                                                                <a href="{{ facebook_auth_url }}" target="_target" class="waves-effect waves-light btn blue socialconnect-btn" id="facebook-btn-link">
                                                                    Link My Facebook Account
                                                                </a>
                                                            {% else %}
                                                                <button class="waves-effect waves-light btn red socialconnect-btn" id="facebook-btn-unlink">
                                                                    Unlink My Facebook Account
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- LinkedIn Card -->
                                    <div class="col s12 m6 social_card">
                                        <div class="white height100">
                                            <div class="card" id="profile-page-header">
                                                <div class="card-image header-img">
                                                    <img alt="user background" class="activator" src="{% static "images/social-logos/bg-lk.jpg" %}">
                                                </div>
                                                <figure class="card-profile-image">
                                                    <img alt="profile image" class="circle z-depth-2 responsive-imgMod activator" src="{% static "images/social-logos/linkedin.png" %}">
                                                </figure>
                                                <div class="card-content">
                                                    <div class="row social-btn-row">
                                                        <div class="col s12" id="linkedin-btn-div">
                                                            {% if linkedin_auth_url %}
                                                                <a href="{{ linkedin_auth_url }}" target="_target" class="waves-effect waves-light btn blue socialconnect-btn" id="linkedin-btn-link">
                                                                    Link My Linkedin Account
                                                                </a>
                                                            {% else %}
                                                                <button class="waves-effect waves-light btn red socialconnect-btn" id="linkedin-btn-unlink">
                                                                    Unlink My Linkedin Account
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Slack Card -->
                                    <div class="col s12 m6 social_card">
                                        <div class="white height100">
                                            <div class="card" id="profile-page-header">
                                                <div class="card-image header-img">
                                                    <img alt="user background" class="activator" src="{% static "images/social-logos/bg-sk.jpg" %}">
                                                </div>
                                                <figure class="card-profile-image">
                                                    <img alt="profile image" class="circle z-depth-2 responsive-imgMod activator" src="{% static "images/social-logos/slack.png" %}">
                                                </figure>
                                                <div class="card-content">
                                                    <div class="row social-btn-row">
                                                        <div class="col s12" id="slack-btn-div">
                                                                <button class="waves-effect waves-light btn red socialconnect-btn" id="slack-btn-unlink"  disabled="">
                                                                    Coming Soon
                                                                </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 next-fieldset-btn">
                            <a type="button" name="next" class="btn col-md-3 blue darken-2 m-b-xs next">Next Step</a>
                        </div>
                    </fieldset>

                    <fieldset class="onboarding_fieldset">
                        <form action="../process_onboarding/" method="post" id="onboarding_form" class="height100">
                            <div class="wizard clearfix height100">
                                <div class="steps clearfix">
                                    <ul style="width: 100%;" class="tabs">
                                        <li class="tab">
                                            <a class="active">Personal Info</a>
                                        </li>
                                        <div class="indicator" style="right: 0px; left: 0px;"></div>
                                    </ul>
                                </div>
                                <section>
                                    <div class="row personal_form">
                                        <div class="col m6">
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    <label for="firstname">First name</label>
                                                    <input id="firstname" name="firstname" type="text" class="required validate" aria-required="true" data-init="{{ user.first_name }}" value="{{ user.first_name }}">
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <label for="lastname">Last name</label>
                                                    <input id="lastname" name="lastname" type="text" class="required validate" aria-required="true" data-init="{{ user.last_name }}" value="{{ user.last_name }}">
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <label for="email">Email Address</label>
                                                    <input id="email" name="email" type="email" class="required validate" aria-required="true" data-init="{{ user.email }}" value="{{ user.email }}">
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <label for="birthdate">Birthdate</label>
                                                    <input id="birthdate" name="birthdate" type="date" class="datepicker required" data-init="{{ user.get_birthdate_as_string }}">
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <select id="gender" name="gender" class="required validate" aria-required="true" data-init="{{ user.gender }}" >
                                                        <option selected disabled>Select One Gender</option>
                                                        {% if user.gender == 'M' %}
                                                            <option value="F">Female</option>
                                                            <option value="M" selected>Male</option>
                                                            <option value="O">Other</option>
                                                        {% elif user.gender == 'F' %}
                                                            <option value="F" selected>Female</option>
                                                            <option value="M">Male</option>
                                                            <option value="O">Other</option>
                                                        {% elif user.gender == 'O' %}
                                                            <option value="F">Female</option>
                                                            <option value="M">Male</option>
                                                            <option value="O" selected>Other</option>
                                                        {% else %}
                                                            <option value="F">Female</option>
                                                            <option value="M">Male</option>
                                                            <option value="O">Other</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <select id="country" name="country" class="required validate" aria-required="true" data-init="{{ user.country }}">
                                                        <option selected disabled>Where are you from ?</option>
                                                        {% for country in countries %}
                                                            {% if user.country == country %}
                                                                <option selected >{{ country.name }}</option>
                                                            {% else %}
                                                                <option>{{ country.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="input-field col m12">
                                                    <label for="feedtitle">RSS Feed Title</label>
                                                    <input id="feedtitle" name="feedtitle" type="text" data-init="{{ user.rss_feed_title }}" value="{{ user.rss_feed_title }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col m6">
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    <label for="company_name">Company name</label>
                                                    <input id="company_name" name="company_name" type="text" class="validate" data-init="{{ user.company_name }}" value="{{ user.company_name }}">
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <label for="company_website">Company Website</label>
                                                    <input id="company_website" name="company_website" type="text" class="validate" data-init="{{ user.company_website }}"  value="{{ user.company_website }}">
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="job">Job Title</label>
                                                    <input id="job" name="job" type="text" class="validate" data-init="{{ user.job }}" value="{{ user.job }}">
                                                </div>
                                                <div class="input-field col s12">
                                                    <textarea id="description" name="description" class="validate materialize-textarea description-textarea" data-init="{{ user.description }}">{{ user.description }}</textarea>
                                                    <label for="description">Description</label>
                                                </div>
                                                <div class="col s12" style="position: absolute; text-align:right; bottom: 5px; width: calc(50% - 15px);">
                                                    {% csrf_token %}
                                                    {% if next %}
                                                        <input type="hidden" name="next" value="{{ next }}" />
                                                    {% endif %}
                                                    <input id="interest1" name="interest1" type="hidden" value="">
                                                    <input id="interest2" name="interest2" type="hidden" value="">
                                                    <input id="interest3" name="interest3" type="hidden" value="">
                                                    <a class="waves-effect waves-light btn red m-b-xs" id="reset-btn">Reset</a>
                                                    <a class="waves-effect waves-light btn blue m-b-xs" id="save-btn">Save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </fieldset>

                </div>
            </main>

        </div>

        <!-- Javascripts -->

        <!-- JQUERY -->
        <script type="text/javascript" src="{% static "plugins/jquery/jquery-2.2.0.min.js" %}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js" integrity="sha256-UOSXsAgYN43P/oVrmU+JlHtiDGYWN2iHnJuKY9WD+Jg=" crossorigin="anonymous"></script>

        <!-- Materialize -->
        <script type="text/javascript" src="{% static "plugins/materialize/js/materialize.min.js" %}"></script>
        <script type="text/javascript" src="{% static "plugins/material-preloader/js/materialPreloader.min.js" %}"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js" integrity="sha256-3mqgTUhHNgfXgjrzjPOaW03DdQ9hgW92BApzLREoRoA=" crossorigin="anonymous"></script> -->

        <script type="text/javascript" src="{% static "plugins/sweetalert/sweetalert.min.js" %}"></script>
        <script type="text/javascript" src="{% static "plugins/js-cookie/js.cookie-2.1.3.min.js" %}"></script>

        <!-- Custom JS -->
        <script type="text/javascript" src="{% static "js/alpha.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/admin-social-linking.js" %}"></script>
        <script type="text/javascript" src="{% static "onboarding/js/onboarding.js" %}"></script>
    </body>
</html>
