/*===========================================*/
/*	DESKTOP LAYOUT
/*===========================================*/
.strikeout {
	background:url(../images/strikeout.png);
	background-size:105% 105%;
}

.nav-links>li>a.active{
	text-decoration:underline;
	color: rgba(255, 255, 255, 0.8);
}

.nav-wrp .navbar-brand img {
    max-width: 80%;
}

.bg-full-vh {
    height:200vh;
}

@media (min-width: 1200px) {
	.sticky-iphone{
		width: 100%;
		position: inherit;
	}
	.nav-other{
		padding-left: 40px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 992px) {

}

/*===========================================*/
/*	MOBILE & TABLET COMMON
/*===========================================*/
@media (min-width: 200px) and (max-width: 991px) {
	.nav-wrp .flex-row {
		width: 90%;
	}


	.nav-wrp {
		position: fixed;
	}

	.mobile-pd-t-100{
		padding-top: 100px;
	}
}


/*===========================================*/
/*	TABLET
/*===========================================*/
@media (min-width: 768px) and (max-width: 991px) {

}


/*===========================================*/
/*	MOBILE
/*===========================================*/
@media (min-width: 200px) and (max-width: 767px) {

}
@media (min-width: 600px) and (max-width: 767px) {
}
@media (min-width: 480px) and (max-width: 599px) {

}
@media (min-width: 200px) and (max-width: 479px) {

}
