#admin{
	min-height: calc(100vh - 350px);
}

#admin_container{
	text-align: center;
}

.login-block {
	width: 500px;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border-top: 5px solid #ff656c;
	display: inline-block;
	margin-top: 25%;
	transform: translateY(-50%);
}
.jumbotron {
	background-color: #f5f5f5;
}

.login-block h1 {
	text-align: center;
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}

.login-block input {
	width: 100%;
	height: 42px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: Montserrat;
	padding: 0 20px 0 20px;
	outline: none;
}

/*
.login-block input#username {
	background: #fff url('../images/user_ico.png') 20px top no-repeat;
	background-size: 16px 80px;
}

.login-block input#password {
	background: #fff url('../images/pass_ico.png') 20px top no-repeat;
	background-size: 16px 80px;
}
*/

.login-block input:active, .login-block input:focus {
	border: 1px solid #ff656c;
}

.login-block button {
	width: 100%;
	height: 40px;
	background: #ff656c;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #e15960;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Montserrat;
	outline: none;
	cursor: pointer;
}

.login-block button:hover {
	background: #ff7b81;
}

@media(max-width: 768px) {
	.hidden_column {
		display: none;
	}
	td,
	th {
		font-size: 10px;
	}
}
th {
	text-align: center;
}

.twitter_button{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 38px;
	width: 224px;
}

.password_form{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 230px;
	width: 350px;
}

.file_form{
	margin-top:50px;
}

.tab_admin>a{
	font-weight: 900;
	font-size: 1.1em;
	color:#555;
	text-decoration: underline;
}

.twitter-typeahead{
     width: 100%;
}
.tt-dropdown-menu{
    width: 100%;
}
