{% extends 'admin_dev/admin_base.html' %}
{% load staticfiles %}

{% block body %}

<div class="row">

	<div class="col m12 l6">
		<div class="card horizontal">
		    <div class="card-image">
		        <img src="{% static "images/services/twitter.png" %}">
		    </div>
		    <div class="card-stacked">
		        <div class="card-content">
		            <p>Link your account Feedcrunch Account to Twitter and automate your posting workflows.</p>
		        </div>
		        <div class="card-action" style="text-align: center;">
					{% if twitter_auth_url %}
						<a href="{{ twitter_auth_url }}" class="btn btn-primary btn-primary blue">Link My Twitter Account</a>
					{% else %}
						<a href="/twitter/oauth/unlink" class="btn btn-primary btn-danger red ">Unlink My Twitter Account</a>
					{% endif %}
		        </div>
		    </div>
		</div>
	</div>

	<div class="col m12 l6">
		<div class="card horizontal">
		    <div class="card-image">
		        <img src="{% static "images/services/facebook.png" %}">
		    </div>
		    <div class="card-stacked">
		        <div class="card-content">
		            <p>Link your Feedcrunch Account to Facebook and automate your posting workflows.</p>
		        </div>
		        <div class="card-action" style="text-align: center;">
					{% if facebook_auth_url %}
						<a href="{{ twitter_auth_url }}" class="btn btn-primary btn-primary blue" disabled>Link My LinkedIn Account</a>
					{% else %}
						<!-- <a href="/facebook/oauth/unlink" class="btn btn-primary btn-danger red" disabled>Unlink My LinkedIn Account</a> -->
						<a href="#" class="btn btn-primary btn-danger red" disabled>available soon</a>
					{% endif %}
		        </div>
		    </div>
		</div>
	</div>

	<div class="col m12 l6">
		<div class="card horizontal">
		    <div class="card-image">
		        <img src="{% static "images/services/linkedin.png" %}">
		    </div>
		    <div class="card-stacked">
		        <div class="card-content">
		            <p>Link your Feedcrunch Account to LinkedIn and automate your posting workflows.</p>
		        </div>
		        <div class="card-action" style="text-align: center;">
					{% if linkedin_auth_url %}
						<a href="{{ twitter_auth_url }}" class="btn btn-primary btn-primary blue" disabled>Link My LinkedIn Account</a>
					{% else %}
						<!-- <a href="/linkedin/oauth/unlink" class="btn btn-primary btn-danger red" disabled>Unlink My LinkedIn Account</a> -->
						<a href="#" class="btn btn-primary btn-danger red" disabled>available soon</a>
					{% endif %}
		        </div>
		    </div>
		</div>
	</div>

</div>


{% endblock %}
