{% extends 'admin_dev/admin_base.html' %}
{% load staticfiles %}

{% block body %}
<div class="row">
    <div class="col s12 l10 offset-l1">
        <div class="card">
            <div class="card-content">
				<div class="row no-margin-bottom">
					<div class="col s12 l4" style="text-align:center">
						<figure class="card-profile-image">
					        <img src="{{ user.get_profile_picture }}" alt="profile image" class="circle z-depth-2 responsive-img activator">
					    </figure>
						<p>
							<span style="font-size:1.7em;">{{ user.get_full_name }}</span><br>
							(@{{ user.username }})
						</p>
					</div>
					<div class="col s12 l8">
						<div class="row no-margin-bottom">
							<div class="col s12">
							    <h4 class="card-title grey-text text-darken-4">Modify your Password</h4>
							</div>
							<div class="col s12">
								<div class="input-field col s12">
									<label for="password1">Old Password</label>
									<input id="password1" name="password1" type="text" class="required validate" aria-required="true">
								</div>
								<div class="input-field col s12">
									<label for="password1">New Password</label>
									<input id="password1" name="password1" type="text" class="required validate" aria-required="true">
								</div>
								<div class="input-field col s12">
									<label for="password2">Repeat your Password</label>
									<input id="password2" name="password2" type="text" class="required validate" aria-required="true">
								</div>
							</div>
							<div class="col s12" style="text-align:right; margin-top:40px;">
								<a class="waves-effect waves-light btn red m-b-xs">Reset</a>
								<a class="waves-effect waves-light btn blue m-b-xs">Save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
