{% extends 'admin_dev/admin_base.html' %}
{% load staticfiles %}

{% block body %}

<div class="row">
    <div class="col s12 l10 offset-l1">
        <div class="card">
            <div class="card-content">
				<div class="row no-margin-bottom">
					<div class="col s12 l4" style="text-align:center">
						<figure class="card-profile-image">
					        <img src="{{ user.get_profile_picture }}" alt="profile image" class="circle z-depth-2 responsive-img profile-card-picture" >
					    </figure>
						<p>
							<span style="font-size:1.7em;">{{ user.get_full_name }}</span><br>
							(@{{ user.username }})
						</p>
					</div>
					<div class="col s12 l8">
						<div class="row no-margin-bottom">
							<div class="col s12">
							    <h4 class="card-title grey-text text-darken-4">Modify your Password</h4>
							</div>
							<div class="col s12">
								<div class="input-field col s12">
									<label for="old_password">Old Password</label>
									<input id="old_password" name="old_password" type="password" class="required validate" aria-required="true">
								</div>
								<div class="input-field col s12">
									<label for="new_password_1">New Password</label>
									<input id="new_password_1" name="new_password_1" type="password" class="required validate" aria-required="true">
								</div>
								<div class="input-field col s12">
									<label for="new_password_2">Repeat your Password</label>
									<input id="new_password_2" name="new_password_2" type="password" class="required validate" aria-required="true">
								</div>
							</div>
							<div class="col s12" style="text-align:right; margin-top:40px;">
			                    <a class="waves-effect waves-light btn red m-b-xs" id="reset-btn">Reset</a>
			                    <a class="waves-effect waves-light btn blue m-b-xs" id="save-btn">Save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
