{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Title -->
		<title>FeedCrunch.IO | Administration Dashboard</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta charset="UTF-8">
		<meta name="description" content="Responsive Admin Dashboard Template" />
		<meta name="keywords" content="admin,dashboard" />
		<meta name="author" content="Steelcoders" />

		<!-- Styles -->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link type="text/css" rel="stylesheet" href="{% static "plugins/materialize/css/materialize.min.css" %}"/>
		<link type="text/css" rel="stylesheet" href="{% static "plugins/metrojs/MetroJs.min.css" %}"/>
		<link type="text/css" rel="stylesheet" href="{% static "plugins/weather-icons-master/css/weather-icons.min.css" %}"/>

		<!-- Theme Styles -->
		<link type="text/css" rel="stylesheet" href="{% static "css/alpha.css" %}"/>
		<link type="text/css" rel="stylesheet" href="{% static "css/custom_admin.css" %}"/>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" %}"></script>
			<script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js" %}"></script>
		<![endif]-->

	</head>
	<body>
		<div class="loader-bg"></div>
		<div class="loader">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-teal lighten-1">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="mn-content fixed-sidebar">
			<header class="mn-header navbar-fixed">
				<nav class="cyan darken-1">
					<div class="nav-wrapper row">
						<section class="material-design-hamburger navigation-toggle">
							<a href="javascript:void(0)" data-activates="slide-out" class="button-collapse show-on-large material-design-hamburger__icon">
								<span class="material-design-hamburger__layer"></span>
							</a>
						</section>
						<div class="header-title col s3 m3">
							<span class="chapter-title">FeedCrunch.io</span>
						</div>
						<form class="left search col s6 hide-on-small-and-down">
							<div class="input-field">
								<input id="search" type="search" placeholder="Search" autocomplete="off">
								<label for="search"><i class="material-icons search-icon">search</i></label>
							</div>
							<a href="javascript: void(0)" class="close-search"><i class="material-icons">close</i></a>
						</form>

					</div>
				</nav>
			</header>
			<div class="search-results">
				<div class="container search-container">
					<div class="row">
						<div class="col s12 search-head">
							<div class="row">
								<div class="col s12">
									<div class="left">
										<p class="search-results-title">Quick search results</p>
										<p class="search-filter left">
											<input type="checkbox" class="filled-in" id="filled-in-box" checked/>
											<label for="filled-in-box">Google search</label>
										</p>
									</div>
								</div>
							</div>
							<div class="res-not-found">No results found</div>
						</div>
						<div class="col s12 m4 search-result-container">
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<img src="{% static "images/profile-image-1.png" %}" alt="" class="circle responsive-img z-depth-1">
									</div>
									<div class="col s9">
										<span class="search-result-text">
											Search <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text">Last active 2 days ago</span>
										</span>
									</div>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<img src="{% static "images/profile-image-3.jpg" %}" alt="" class="circle responsive-img z-depth-1">
									</div>
									<div class="col s9">
										<span class="search-result-text">
											News about <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text">23 Blogs</span>
										</span>
									</div>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<img src="{% static "images/profile-image.png" %}" alt="" class="circle responsive-img z-depth-1">
									</div>
									<div class="col s9">
										<span class="search-result-text">
											Tom King (Works at <span class="search-text search-result-highlight"></span>)<br><span class="secondary-search-text">Avaible for freelance work</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 m4 search-result-container">
							<div class="card card-transparent ">
								<div class="row valign-wrapper">
									<div class="col s3">
										<span class="z-depth-1 circle search-circle indigo lighten-1">F</span>
									</div>
									<div class="col s9">
										<span class="search-result-text">
											<span class="search-text search-result-highlight"></span> on Facebook<br><span class="secondary-search-text"><a href="#">View website</a></span>
										</span>
									</div>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<span class="z-depth-1 circle search-circle light-blue lighten-1">T</span>
									</div>
									<div class="col s9">
										<span class="search-result-text">
											<span class="search-text search-result-highlight"></span> on Twitter<br><span class="secondary-search-text"><a href="#">View website</a></span>
										</span>
									</div>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="row valign-wrapper">
									<div class="col s3">
										<span class="z-depth-1 circle search-circle red darken-1">G</span>
									</div>
									<div class="col s9">
										<span class="search-result-text">
											Google+ <span class="search-text search-result-highlight"></span><br><span class="secondary-search-text"><a href="#">View website</a></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 m4 search-result-container">
							<div class="card card-transparent">
								<div class="card-content first">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sunt in culpa qui<span class="search-text search-result-highlight"></span> quis.</p>
								</div>
								<div class="card-action">
									<span class="grey-text">Yesterday, 4:56 PM</span>
								</div>
							</div>
							<div class="card card-transparent">
								<div class="card-content">
									<p>Sunt in culpa qui <span class="search-text search-result-highlight"></span> officia deserunt mollit anim id est laborum. officia deserunt mollit anim id est laborum officia deserunt mollit anim</p>
								</div>
								<div class="card-action">
									<span class="grey-text">27 January 2016</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<aside id="slide-out" class="side-nav white fixed">
				<div class="side-nav-wrapper">
					<div class="sidebar-profile">
						<div class="sidebar-profile-image">
							<img src="{{ user.get_profile_picture }}" class="circle" alt="">
						</div>
						<div class="sidebar-profile-info">
							<a href="javascript:void(0);" class="account-settings-link">
								<p>{{ user.get_full_name }}</p>
								<span>{{ user.email }}</span>
							</a>
						</div>
					</div>
					<ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
						<li class="no-padding active"><a class="waves-effect waves-grey active" href="index.html"><i class="material-icons">settings_input_svideo</i>Dashboard</a></li>
						<li class="no-padding">
							<a class="collapsible-header waves-effect waves-grey"><i class="material-icons">perm_identity</i>Account Settings<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
							<div class="collapsible-body">
								<ul>
									<li><a href="mailbox.html">Mailbox</a></li>
									<li><a href="search.html">Search</a></li>
									<li><a href="todo.html">Todo</a></li>
								</ul>
							</div>
						</li>
						<li class="no-padding">
							<a class="collapsible-header waves-effect waves-grey"><i class="material-icons">library_books</i>Publication Board<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
							<div class="collapsible-body">
								<ul>
									<li><a href="mailbox.html">Mailbox</a></li>
									<li><a href="search.html">Search</a></li>
									<li><a href="todo.html">Todo</a></li>
								</ul>
							</div>
						</li>
						<li class="no-padding"><a class="waves-effect waves-grey active" href="admin/"><i class="material-icons">email</i>Contact Us</a></li>
						<li class="divider"></li>
						<li class="no-padding">
							<a class="waves-effect waves-grey"><i class="material-icons">exit_to_app</i>Sign Out</a>
						</li>
					</ul>
				</div>
			</aside>
			<main class="mn-inner inner-active-sidebar">
				<div class="middle-content">
					<div class="row no-m-t no-m-b">
						<div class="col s12 m12 l4">
							<div class="card stats-card">
								<div class="card-content">
									<span class="card-title">Articles Posted</span>
									<span class="stats-counter"><span class="counter">{{ user.get_post_count }}</span><small>Article(s) posted since {{ user.date_joined }}</small></span>
								</div>
								<div class="progress stats-card-progress no-progress"></div>
							</div>
						</div>
						<div class="col s12 m12 l4">
							<div class="card stats-card">
								<div class="card-content">
									<span class="card-title">Articles Posted</span>
									<span class="stats-counter"><span class="counter">{{ user.get_current_month_post_count }}</span><small>Article(s) posted this month</small></span>
									{% if post_trending == "new_releases" %}
										<div class="percent-info text-blue-grey lighten-1">New subscriber<i class="material-icons">{{ post_trending }}</i></div>
									{% else %}
										<div class="percent-info {{ post_trending_color }}">{{ publication_trend }}% <i class="material-icons">{{ post_trending }}</i></div>
									{% endif %}
								</div>
								<div class="progress stats-card-progress">
									<div class="determinate" style="width: {{ monthtime_elapsed }}%"></div>
								</div>
							</div>
						</div>
						<div class="col s12 m12 l4">
							<div class="card stats-card">
								<div class="card-content">
									<span class="card-title">Clicks on all Articles</span>
									<span class="stats-counter"><span class="counter">{{ user.get_clicks_count }}</span><small>Clicks since {{ user.date_joined }}</small></span>
								</div>
								<div class="progress stats-card-progress no-progress"></div>
							</div>
						</div>
					</div>
					<div class="row no-m-t no-m-b">
						<div class="col s12 m12 l6">
							<div class="card visitors-card">
								<div class="card-content">
									<span class="card-title">Publication Rate<span class="secondary-title">Number of Article Published over the last two weeks</span></span>
									<div id="flotchart1"></div>
								</div>
							</div>
						</div>
						<div class="col s12 m12 l6">
							<div class="card visitors-card">
								<div class="card-content">
									<span class="card-title">Subscribers Flow<span class="secondary-title">Number of Subscribers visiting your feed on a daily-basis</span></span>
									<div id="flotchart2"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>

		<!-- Javascripts -->
		<script src="{% static "plugins/jquery/jquery-2.2.0.min.js" %}"></script>
		<script src="{% static "plugins/materialize/js/materialize.min.js" %}"></script>
		<script src="{% static "plugins/material-preloader/js/materialPreloader.min.js" %}"></script>
		<script src="{% static "plugins/jquery-blockui/jquery.blockui.js" %}"></script>
		<script src="{% static "plugins/waypoints/jquery.waypoints.min.js" %}"></script>
		<script src="{% static "plugins/counter-up-master/jquery.counterup.min.js" %}"></script>
		<script src="{% static "plugins/jquery-sparkline/jquery.sparkline.min.js" %}"></script>
		<script src="{% static "plugins/chart.js/chart.min.js" %}"></script>
		<script src="{% static "plugins/flot/jquery.flot.min.js" %}"></script>
		<script src="{% static "plugins/flot/jquery.flot.time.min.js" %}"></script>
		<script src="{% static "plugins/flot/jquery.flot.symbol.min.js" %}"></script>
		<script src="{% static "plugins/flot/jquery.flot.resize.min.js" %}"></script>
		<script src="{% static "plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
		<script src="{% static "plugins/curvedlines/curvedLines.js" %}"></script>
		<script src="{% static "plugins/peity/jquery.peity.min.js" %}"></script>
		<script src="{% static "js/alpha.min.js" %}"></script>
		<script src="{% static "js/pages/dashboard.js" %}"></script>

	</body>
</html>
