{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<section class="section" id="admin">
    <div class="container" id="admin_container">
        <div class="jumbotron" style="padding-top:15px; overflow:hidden; height:150px">

          <h1 style="font-size:300%;">RSS Feed's Administration Panel</h1>
          <p style="margin-top:-20px">
            <font size='3' >
              <br>Please add the article's title and the link in order to add it to the Feed.
            </font>
          </p>

        </div>

        <div role="form">
          {% csrf_token %}
          {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}

          <div class="form-group" style="margin-bottom:25px;">
            <label for="title">Enter the Article's Title</label>
            <input type="title" class="form-control" id="title" placeholder="Enter the Title">
          </div>

          <div class="form-group" style="margin-bottom:25px;">
            <label for="link">Enter the Article's Link</label>
            <input type="link" class="form-control" id="link" placeholder="Enter the Link">
          </div>

          <div class="row" style="margin-bottom:30px;">

            <div class="form-group col-md-6">
              <label for="link" style="margin-right:15px;">Publish on Twitter:</label>
              <input class='switch-checkbox' type="checkbox" name="twitter-radio" checked>
            </div>

            <div class="form-group col-md-6">
              <label for="link" style="margin-right:15px;">Link Visible:</label>
              <input class='switch-checkbox' type="checkbox" name="activated-radio" checked>
            </div>

          </div>

          <button class="btn btn-danger" id="clear">Clear</button>
          <button class="btn btn-primary btn-large" id="submit"><i class="icon-white icon-download-alt"></i> Save My Link !</button>

        </div>

        <div class="hide" id="resultatUpload" style="margin-top:50px"></div>

    </div> <!-- end container -->
</section>

{% endblock %}
