{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<section class="section" id="admin">
    <div class="container" id="admin_container">
        <div class="jumbotron" style="padding-top:15px; overflow:hidden; height:150px">

          <h1 style="font-size:300%;">RSS Feed's Administration Panel</h1>
          <p style="margin-top:-20px">
            <font size='3' >
              <br>Please add the article's title and the link in order to add it to the Feed.
            </font>
          </p>

        </div>

        <div role="form">
          {% csrf_token %}
          {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}

          <div class="form-group">
            <label for="title">Enter the Article's Title</label>
            <input type="title" class="form-control" id="title" placeholder="Enter the Title">
          </div>

          <div class="form-group">
            <label for="link">Enter the Article's Link</label>
            <input type="link" class="form-control" id="link" placeholder="Enter the Link">
          </div>

          <button id="submit"class="btn btn-default">Submit</button>

        </div>

        <div class="hide" id="resultatUpload" style="margin-top:50px"></div>

    </div> <!-- end container -->
</section>

{% endblock %}
