{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<section class="section" id="admin">
	<div class="container" id="admin_container">
		<div class="jumbotron" style="padding-top:15px; overflow:hidden; height:150px">

			<h1 style="font-size:300%;">RSS Feed's Administration Panel</h1>
			<p style="margin-top:-20px">
			<font size='3' >
				{% if 'admin/add' in request.path %}
					<br>Please add the article's title and the link in order to add it to the Feed.
				{% elif 'admin/modify' in request.path %}
					<br>Please modify the article's title and the link.
				{% endif %}
			</font>
			</p>

		</div>


		<div role="form">
			{% csrf_token %}
			{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}


			<div class="form-group" style="margin-bottom:35px;">
				<label for="title">Enter the Article's Title</label>
				{% if post %}
					<input data-init="{{ post.title }}" type="title" class="form-control" id="title" placeholder="Enter the Title" value="{{ post.title }}">
				{% else %}
					<input type="title" class="form-control" id="title" placeholder="Enter the Title">
				{% endif %}
			</div>

			<div class="form-group" style="margin-bottom:35px;">
				<label for="link">Enter the Article's Link</label>
				{% if post %}
					<input data-init="{{ post.link }}" type="link" class="form-control" id="link" placeholder="Enter the Link" value="{{ post.link }}">
				{% else %}
					<input type="link" class="form-control" id="link" placeholder="Enter the Link">
				{% endif %}
			</div>

			<div class="form-group" style="margin-bottom:50px;">
				<label for="link">Enter up to 5 tags to improve social impact and search effiency</label>
				<div style="height:33px;margin-top:10px; margin-bottom:15px;" id="tagContainer"></div>
				{% if post %}
					<input type="text" data-init="{{ post.get_tags }}" id="tagInputField" autocomplete="off" placeholder="Enter up to 5 tags separated by a space/enter/tab." class="form-control input-medium tm-input tm-input-info tm-input-01" data-original-title="">
				{% else %}
					<input type="text" data-init="" id="tagInputField" autocomplete="off" placeholder="Enter up to 5 tags separated by a space/enter/tab." class="form-control input-medium tm-input tm-input-info tm-input-01" data-original-title="">
				{% endif %}

				<input type="hidden" name="tagListField" id="tagListField">
			</div>

			<div class="row" style="margin-bottom:35px;">

				<div class="form-group col-md-4">
					<label for="link" style="margin-right:15px;">Link Visible <i class="fa fa-info-circle" rel="tooltip" title="If deactivated, the link won't be displayed on the public feed page. However it remains visible and modifiable in the admin panel."></i> :</label>
					{% if post %}
						<input data-init="{{ post.activeLink }}" class='switch-checkbox' type="checkbox" id="activated_radio" name="activated_radio" {% if post.activeLink %} checked {% endif %}>
					{% else %}
						<input data-init="True" class='switch-checkbox' type="checkbox" id="activated_radio" name="activated_radio" checked>
					{% endif %}

				</div>

				<div class="form-group col-md-4">
					<label for="link" style="margin-right:15px;">Publish on Twitter <i class="fa fa-info-circle" rel="tooltip" title="Due to Twitter Restrictions, if the title is longer than 122 characters, it title will be shorten down to 110th characters and ended by '[...]'"></i> :</label>
					{% if user.is_twitter_enabled %}
						<input class='switch-checkbox' type="checkbox" id="twitter_radio" name="twitter_radio">
					{% else %}
						<input class='switch-checkbox' type="checkbox" id="twitter_radio" name="twitter_radio" readonly="readonly">
					{% endif %}
				</div>

				<div class="form-group col-md-4">
					<label for="link" style="margin-right:15px;">
						Title Auto Format
						<i class="fa fa-info-circle" rel="tooltip" title="For readability reasons, we propose an auto formating function that format your post title according to the AP Style Title Case: Capitalize the principal words and not articles, prepositions, conjunctions, etc."></i> :
					</label>
					<input class='switch-checkbox' type="checkbox" id="auto_format" name="auto_format">
				</div>

			</div>

			{% if 'admin/add' in request.path %}
			<button class="btn btn-danger" id="clear">Clear</button>
			{% elif 'admin/modify' in request.path %}
			<button class="btn btn-danger" id="reset">Reset</button>
			{% endif %}

			<button class="btn btn-primary btn-large" id="submit"><i class="icon-white icon-download-alt"></i> Save My Link !</button>

		</div>

		<div class="hide" id="resultatUpload" style="margin-top:50px"></div>

	</div> <!-- end container -->

</section>


{% endblock %}
