.btn-custom{
	margin-bottom: 15px;
}
.search-bar {
	/* position: fixed; */

	z-index: 15;
	padding: 8px;
	background: #ff742b;
	border: none;
	display: block;
	box-sizing: border-box;
	color: black;
	font-family: Verdana, Geneva, sans-serif !important;
	font-size: 1em;
	line-height: 1.5;
}
.search-bar .logo-wrapper {
	float: left;
	width: 280px;
}
.search-bar a,
.search-bar a:visited {
	color: white;
	text-decoration: none;
	background-color: transparent;
}
a:active,
a:hover {
	outline: 0;
}
.search-bar .logo-wrapper .logo-name {
	color: white;
	font-size: 18px;
	padding-top: 8px;
	text-align: center;
}
.logo .logo-name {
	float: left line-height: 1em;
	font-size: 12px;
	display: inline-block;
	position: relative;
}
.search-bar .search-wrapper {
	margin-top: 1px;
}
.search-wrapper {
	position: relative;
}
.search-wrapper .item-input-wrapper {
	display: inline-block;
	width: calc(100% - 270px);
	margin-right: 5px;
}
.page-header .search-wrapper input {
	border-radius: 0;
	border-color: transparent;
	border: none;
}
.search-wrapper input {
	box-shadow: none;
	line-height: 25px;
	padding: 0 15px 0 50px;
	height: 42px;
}
input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple=multiple] {
	box-sizing: border-box;
	transition: border-color;
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 1em;
	width: 100%;
}
input,
label,
select {
	display: block;
	color: #5c5c5c;
}
.search-wrapper .icon-search {
	position: absolute;
	top: 10px;
	left: 29px;
	color: #ff742b;
	font-size: 24px;
}
@font-face {
	font-family: 'icomoon';
	src: url(../fonts/icomoon/icomoon.woff);
}
.icon-search:before {
	content: "\e036";
}
[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.search-wrapper .powered-by {
	width: 230px;
	font-size: 12px;
	display: inline-block;
	position: relative;
	margin-top: 12px;
	color: #fff;
	text-align: right;
	padding-right: 5px;
}
.powered-by a:hover {
	text-decoration: underline;
}

section#contact {
	background-color: #222;
	background-image: url(../images/map-image.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 50px;
	padding: 50px 0px;
}
section#contact .section-heading {
	color: #fff;
	margin-bottom: 50px;
}
section#contact .form-group {
	margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
	padding: 20px;
}
section#contact .form-group input.form-control {
	height: auto;
}
section#contact .form-group textarea.form-control {
	height: 236px;
}
section#contact .form-control:focus {
	border-color: #fed136;
	box-shadow: none;
}
section#contact::-webkit-input-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}
section#contact:-moz-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}
section#contact::-moz-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}
section#contact:-ms-input-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}
section#contact .text-danger {
	color: #e74c3c;
}
footer {
	padding: 25px 0;
	text-align: center;
}
footer span.copyright {
	line-height: 40px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-transform: none;
}
footer ul.quicklinks {
	margin-bottom: 0;
	line-height: 40px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-transform: none;
}
ul.social-buttons {
	margin-bottom: 0;
}
ul.social-buttons li a {
	display: block;
	background-color: #222;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	outline: 0;
	transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
	background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: 0;
}
.portfolio-modal .modal-content {
	border-radius: 0;
	background-clip: border-box;
	box-shadow: none;
	border: 0;
	min-height: 100%;
	padding: 100px 0;
	text-align: center;
}
.portfolio-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 3em;
}
.portfolio-modal .modal-content p {
	margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
	margin: 20px 0 30px;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
	margin-bottom: 30px;
	margin-top: 0;
}
.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}
.portfolio-modal .close-modal {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: transparent;
	top: 25px;
	right: 25px;
	cursor: pointer;
}
.portfolio-modal .close-modal:hover {
	opacity: 0.300000011920928955078125;
}
.portfolio-modal .close-modal .lr {
	height: 75px;
	width: 1px;
	margin-left: 35px;
	background-color: #222;
	transform: rotate(45deg);
	z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
	height: 75px;
	width: 1px;
	background-color: #222;
	transform: rotate(90deg);
	z-index: 1052;
}
.portfolio-modal .modal-backdrop {
	opacity: 0;
	display: none;
}
::-moz-selection {
	text-shadow: none;
	background: #fed136;
}
img::-moz-selection {
	background: 0 0;
}
ntact .form-group {
	margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
	padding: 20px;
}
section#contact .form-group input.form-control {
	height: auto;
}
section#contact .form-group textarea.form-control {
	height: 236px;
}
section#contact .form-control:focus {
	border-color: #fed136;
	box-shadow: none;
}
section#contact::-webkit-input-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}
section#contact:-moz-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}
section#contact::-moz-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}
section#contact:-ms-input-placeholder {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}
section#contact .text-danger {
	color: #e74c3c;
}
footer {
	padding: 25px 0;
	text-align: center;
}
footer span.copyright {
	line-height: 40px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-transform: none;
}
footer ul.quicklinks {
	margin-bottom: 0;
	line-height: 40px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-transform: none;
}
ul.social-buttons {
	margin-bottom: 0;
}
ul.social-buttons li a {
	display: block;
	background-color: #222;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	outline: 0;
	transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
	background-color: #fed136;
}
