@media(max-width: 768px) {
	.intro-text {
		margin-top: 50px;
	}
	.hidden_column {
		display: none;
	}
	td,
	th {
		font-size: 10px;
	}
}
th {
	text-align: center;
}
.user_desc{
  min-height: calc(100vh);
  padding-top: 10%;
}
 .label-custom{
   padding-left: 0;
   margin-top: 20px;
   text-align: left;
   display: block;
 }


 .hero--profile {
	 height: auto;
	 text-align: left;
 }

 article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	 display: block;
 }

 .btn-primary .badge {
	 color: #f05f40;
	 background-color: #fff;
 }

 .btn {
	 border: 0;
	 border-radius: 300px;
	 text-transform: uppercase;
	 font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	 font-weight: 700;
 }

 .btn-xl {
	 padding: 15px 30px;
 }
