{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="FeedCrunch.IO - RSS Feeds to the next level !">
		<meta name="author" content="Jonathan DEKHTIAR">

		<link href="{% static "images/favicon.ico" %}" rel="shortcut icon" >
		<title>FeedCrunch.IO | RSS Feeds to the next level !</title>

		{% if rss_feed_display %}
			<link href="rss/" rel="alternate" title="Feedcrunch.IO - RSS Feeds to the Next Level" type="application/rss+xml"> <!-- RSS Feed 2.0 -->
			<link href="atom/" rel="alternate" title="Feedcrunch.IO - RSS Feeds to the Next Level" type="application/atom+xml"> <!-- ATOM Feed 1.0 -->
		{% endif %}

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


		<!-- Font Icons CSS -->
		<link href="{% static "css/pe-icon-7-stroke.css" %}" rel="stylesheet" type='text/css'>
		<link href="{% static "fonts/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"><!-- Plugin CSS -->

		<!-- Bootstrap core CSS -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

		<!-- General styles for this template -->
		<link href="{% static "css/style.css" %}" rel="stylesheet">

		{% if template_name == "login.html" %}

			<link href="{% static "css/login_panel.css" %}" rel="stylesheet">

		{% elif template_name == "admin_index.html" %}

			<link href="{% static "css/admin.css" %}" rel="stylesheet">
			<link href="{% static "css/social-icon.css" %}" rel="stylesheet">
			<link href="{% static "css/form.css" %}" rel="stylesheet">
			<link href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">

		{% elif template_name == "listing.html" %}

			<link href="{% static "css/admin.css" %}" rel="stylesheet">
			<link href="{% static "css/form.css" %}" rel="stylesheet">

		{% elif template_name == "post_form.html" %}

			<link href="{% static "css/admin.css" %}" rel="stylesheet">
			<link href="{% static "css/form.css" %}" rel="stylesheet">
			<link href="{% static "css/bootstrap-switch.css" %}" rel="stylesheet">
			<link href="{% static "css/tooltip.css" %}" rel="stylesheet">
			<link href="{% static "css/tagmanager.css" %}" rel="stylesheet">
			<link href="{% static "css/typeaheadjs.css" %}" rel="stylesheet">

		{% elif template_name == "rssviewer.html" %}

			<link href="{% static "css/animate.min.css" rel="stylesheet" type="text/css" %}">
			<link href="{% static "css/custom.css" %}" rel="stylesheet" type="text/css">
			<link href="{% static "css/social_buttons.css" %}" rel="stylesheet" type="text/css">
			<link href="{% static "css/medium-supercleaned.css" %}" rel="stylesheet">
			<link href="{% static "css/arrow.css" %}" rel="stylesheet">
			<link href="{% static "css/viewer.css" %}" rel="stylesheet">

		{% elif template_name == "signup.html" %}

			<link href="{% static "css/form.css" %}" rel="stylesheet">
			<link href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet">

			<script type="application/x-javascript">
				addEventListener("load", function() {
					 setTimeout(hideURLbar, 0);
				 }, false);

				 function hideURLbar(){
					 window.scrollTo(0,1);
				 }
			</script>

		{% endif %}

		<!-- Color style -->
		<link href="{% static "css/colors/default.css" %}" rel="stylesheet" id="color-opt">
		<link href="{% static "css/colors/blue_dark.css" %}" rel="stylesheet" id="color-opt_blue_dark">

	</head>


	<body id="page-top" data-spy="scroll" data-target="#menu">

			<!-- Navbar -->
			<div class="navbar navbar-custom sticky" role="navigation" id="menu">
				<div class="container">

					<!-- Navbar-header -->
					<div class="navbar-header">

						<!-- Responsive menu button -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- LOGO -->
						<a class="navbar-brand logo" id="nav_link_logo" href="/">
							FeedCrunch.io
						</a>

					</div>
					<!-- end navbar-header -->

					<!-- menu -->
					<div class="navbar-collapse collapse" id="navbar-menu">

						<!-- Navbar left -->
						<ul class="nav navbar-nav nav-custom-left">

							{% if '@' in request.path and user.is_authenticated %}

								<li id="li_home">
									<a href="/@{{user.username}}/">Home</a>
								</li>
								<li id="li_add">
									<a href="/@{{user.username}}/admin/add">Add a Post</a>
								</li>
								<li id="li_modify">
									<a href="/@{{user.username}}/admin/modify">Modify a Post</a>
								</li>
								<li id="li_delete">
									<a href="/@{{user.username}}/admin/delete">Delete a Post</a>
								</li>

							{% elif '@' in request.path and not user.is_authenticated %}

								<li id="li_home">
									<a href="/">Home</a>
								</li>
								<li id="li_features">
									<a href="/#features">Features</a>
								</li>
								<li id="li_pricing">
									<a href="/#pricing">Pricing</a>
								</li>
								<li>
									<a href="/about">About Us</a>
								</li>
								<li>
									<a href="/faq">FAQ</a>
								</li>

							{% else %}

								<li id="li_home">
									<a id="nav_link_home" class="nav-link">Home</a>
								</li>
								<li id="li_features">
									<a id="nav_link_features" class="nav-link">Features</a>
								</li>
								<li id="li_pricing">
									<a id="nav_link_pricing" class="nav-link">Pricing</a>
								</li>
								<li>
									<a href="/about">About Us</a>
								</li>
								<li>
									<a href="/faq">FAQ</a>
								</li>

							{% endif %}

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>

						<!-- Navbar right -->
						<ul class="nav navbar-nav navbar-right">

							{% if user.is_authenticated %}

								<li style="margin-right:25px;">
									<a href="/logout">Logout</a>
								</li>

								{% if 'admin' in request.path %}

									<li>
										<a href="/@{{user.username}}/" class="btn btn-white-fill navbar-btn">Go to my Feed</a>
									</li>

								{% else %}

									<li>
										<a href="/@{{user.username}}/admin" class="btn btn-white-fill navbar-btn">Admin Panel</a>
									</li>

								{% endif %}

							{% else %}

								<li style="margin-right:25px;">
									<a href="/login">Login</a>
								</li>

								{% if 'signup' not in request.path %}
									<li>
										<a href="/signup" class="btn btn-white-fill navbar-btn">Try for Free</a>
									</li>
								{% endif %}

							{% endif %}

						</ul>

					</div>
					<!--/Menu -->
				</div>
				<!-- end container -->
			</div>
			<!-- End navbar-custom -->

		{% if 'login' not in request.path and 'signup' not in request.path and not user.is_authenticated %}
			<div style="min-height:calc(100vh - 346px - 452px);">
		{% else %}
			<div style="min-height:calc(100vh - 346px);">
		{% endif %}

		{% block body %}

		{% endblock %}
		</div>

		{% if 'login' not in request.path and 'signup' not in request.path and not user.is_authenticated %}
		<!-- Subscribe -->
		<section class="newsletter-div section bg-custom">
			<div class="container">

					<div class="row">
							<div class="col-sm-12 text-center">
									<h3 class="title text-white">Be engaged and subscribe to the Newsletter</h3>
									<p class="text-light sub-title" style="padding-top:25px;">
										You want to keep in touch with the team, get the latest news from the platform and the new features upcoming ?<br>
										Subscribing to newsletter is the way to keep in touch with us.
									</p>
							</div>
					</div><!-- End row -->

					<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
									<form class="text-center">
										<div class="form-group">
											<input class="form-control input-subscribe" id="exampleInputEmail1" placeholder="Enter e-mail address" type="email">
										</div>
										<br>
										<button type="submit" class="btn btn-white-fill">Subscribe </button>
									</form>
							</div>
					</div><!-- End row -->

			</div> <!-- end container -->
		</section>
		<!-- End Subscribe -->
		{% endif %}

		<!-- FOOTER -->
		<footer class="section bg-gray footer" style="text-align:left;">
			<div class="container">
					<div class="row">
							<div class="col-md-6" style="color:#fff">
								<h2>{{ user_count }} users registred since July 2016</h2>
								<p style="margin-bottom:10px;">We our proud to have everyday many more users who use our platform on a daily basis.<br><br></p>
								<a class="twitter-follow-button" href="https://twitter.com/feedcrunch_io"	data-size="large">Follow @FeedCrunch_io</a>
								<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
							<div class="col-md-push-2 col-md-2 col-xs-6">
									<h5>FeedCrunch.IO</h5>
									<ul class="list-unstyled">
											<li><a href="/">Home</a></li>
											<li><a href="/about/">About Us</a></li>
											<li><a href="/about/#team">Team</a></li>
											<li><a href="/faq/">FAQ</a></li>
											<li><a href="/contact/">Contact</a></li>
									</ul>
							</div>

							<div class="col-md-push-2 col-md-2 col-xs-6">
									<h5>Support</h5>
									<ul class="list-unstyled">
											<li><a href="/contact/">Help &amp; Support</a></li>
											<li><a href="/terms/">Privacy Policy</a></li>
											<li><a href="/terms/">Terms &amp; Conditions</a></li>
									</ul>
							</div>

					</div> <!-- end row -->

					<div class="row">
							<div class="col-sm-12">
									<div class="footer-alt text-center">
											<p class="text-muted_footer m-b-0">
												Developed with <span style="color:red; font-size:1.2em;">♥</span> by
												<a href="https://www.jonathandekhtiar.eu" class="developed_by">Jonathan DEKHTIAR</a>
												 - 2016 © FeedCrunch.io -
											 </p>
									</div>
							</div>
					</div> <!-- end row -->

			</div> <!-- end container -->
		</footer>
		<!-- END FOOTER -->

		<!-- JQUery & Bootstrap -->
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

		<!-- Jquery easing -->
		<script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>

		<!--common script for all pages-->
		<!-- <script src="js/jquery.app.js"></script> -->
		{% if template_name == "admin_index.html" %}

			<script type="text/javascript" src="{% static "js/bootstrap-filestyle.min.js" %}"></script>
			<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
			<script src="{% static "js/datepicker.js" %}"></script>

		{% elif template_name == "post_form.html" %}

			<script type="text/javascript" src="{% static "js/bootstrap-switch.js" %}"></script>
			<script type="text/javascript" src="{% static "js/tagmanager.js" %}"></script>
			<script type="text/javascript" src="{% static "js/typeahead.bundle.js" %}"></script>
			<script type="text/javascript" src="{% static "js/ajax_form.js" %}"></script>

			<script type="text/javascript">

				var tags = new Bloodhound({
					datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
					queryTokenizer: Bloodhound.tokenizers.whitespace,
					limit: 10,
					prefetch: {
						url: '../tags/json/',
						filter: function (list) {
							return $.map(list.tags, function (tag) { return { name: tag }; });
						},
						cache: false //NEW!
					}
				});

				tags.initialize();

				var tagApi = jQuery(".tm-input").typeahead(null, {
					name: 'tags',
					displayKey: 'name',
					source: tags.ttAdapter(),
					autoselect: true,
				}).on('typeahead:autocompleted', function (e, datum) {
					console.log('selected');
					console.log(datum);
				}).on('typeahead:selected', function (e, d) {
					tagApi.tagsManager("pushTag", d.name);
					tagApi.typeahead('close');
					tagApi.typeahead("val", '');
					tagApi.typeahead('setQuery', '');
				}).bind('typeahead:render', function(e) {
					$('#tagInputField').parent().find('.tt-selectable:first').addClass('tt-cursor');
				});

				prefilled_data = $("#tagInputField").data("init");
				if (prefilled_data == "")
					prefilled_data = null;

				tagApi.tagsManager({
					prefilled: prefilled_data,
					CapitalizeFirstLetterOnly: true,
					delimiters: [13, 32],
					maxTags: 5,
					maxTagsBehavior: 'disable',
					/*
					Default: [9,13,44] (tab, enter, comma). Delimiters should be numeric ASCII char codes.
					Please note the following:
						The following values are handled as key codes:
							9 (tab),
							13 (enter),
							16 (shift),
							17 (ctrl),
							18 (alt),
							19 (pause/break),
							32 (space)
							37 (leftarrow),
							38 (uparrow),
							39 (rightarrow),
							40 (downarrow)
					*/
					deleteTagsOnBackspace: false,
					hiddenTagListId: 'tagListField',
					hiddenTagListName: 'tagListField',
					tagsContainer: tagContainer,
					tagCloseIcon: '×',
					tagClass: '',
					validator: null,
					onlyTagList: false
				}).on('keyup', this, function (event) {
					if (event.keyCode == 13) {
						if ($('#tagInputField').parent().find('.tt-selectable:first').length == 0){
							tagApi.tagsManager("pushTag", $('#tagInputField').val());
						}
					}
				}).on('tm:hide', function(e, taglist) {
					tagApi.typeahead("val", '');
					tagApi.typeahead('setQuery', '');
				});

				$(function() {
					$("[class='switch-checkbox']").bootstrapSwitch();
				});

				$(document).ready(function(){
					$("[rel=tooltip]").tooltip({
						position: {
							my: "center bottom-20",
							at: "center top",
							using: function( position, feedback ) {
								$( this ).css( position );
								$( "<div>" )
									.addClass( "arrow" )
									.addClass( feedback.vertical )
									.addClass( feedback.horizontal )
									.appendTo( this );
							}
						}
					});
				});
			</script>

		{% elif 'admin/delete' in request.path %}

			<script type="text/javascript" src="{% static "js/ajax_delete.js" %}"></script>

		{% elif template_name == "rssviewer.html" %}

			<script src="{% static "js/jquery.fittext.js" %}"></script>
			<script src="{% static "js/wow.min.js" %}"></script>	<!-- Contact Form JavaScript -->

			<script src="{% static "js/jqBootstrapValidation.js" %}"></script>
			<script src="{% static "js/contact_me.js" %}"></script> <!-- Custom Theme JavaScript -->

			<script src="{% static "js/creative.js" %}"></script> <!-- Custom Ajax Search JavaScript -->

			<script src="{% static "js/ajaxSearch.js" %}"></script>

			<script>
			$('#arrow_down').click(function(){
				var the_id = $(this).attr("href");
				$('html, body').animate({
					scrollTop:$(the_id).offset().top - 50,
				}, 1300);
				return false;
			});
			</script>

		{% elif template_name == "signup.html" %}

			<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
			<script src="{% static "js/datepicker.js" %}"></script>

		{% endif %}

		<script>

			$('.nav-link').click(function(e) {
				e.preventDefault();

				var goto = $(this).attr('href');

				if (goto[0] == "#"){
					 $('html, body').animate({
						scrollTop: $(goto).offset().top
					}, 800);
				}
				else{
					window.location = goto;
				}
			});

			$(function() {
				// Highlight the active nav link.
				var url = window.location.pathname;
					url = url.slice(0, -1); // We remove the last "/"
				var filename = url.substr(url.lastIndexOf('/'));
				$('.navbar a[href$="' + filename + '"]').parent().addClass("active");
			});

			$(function(){
				fullpath = window.location.pathname;
				if ( fullpath == "/" ){
					$("#nav_link_logo").prop("href", "#home");
					$("#nav_link_home").prop("href", "#home");
					$("#nav_link_features").prop("href", "#features");
					$("#nav_link_pricing").prop("href", "#pricing");
				}
				else{
					$("#nav_link_logo").prop("href", "/");
					$("#nav_link_home").prop("href", "/");
					$("#nav_link_features").prop("href", "/#features");
					$("#nav_link_pricing").prop("href", "/#pricing");
					$("#li_home").removeClass("active");
				}
			});

		</script>

	</body>
</html>
