{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<!-- Header title -->
<section class="bg-custom header-title-box">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
			  <h3 class="text-white">Get In Touch</h3>
			</div>
		</div>
	</div> <!-- end container -->
</section>
<!-- END Header title -->



<!-- Contact Form -->
<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h3 class="title">Send us a Message</h3>
				<p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br> designed for describing your app, agency or business.</p>
			</div>
		</div> <!-- end row -->

		<div class="row">

			<!-- Contact form -->
			<div class="col-sm-12">
				<form role="form" name="ajax-form" id="contact-form" class="contact-form" data-parsley-validate="" novalidate="">

					<div class="form-group">
						<input class="form-control" id="name" placeholder="Your name" value="" parsley-trigger="change" required="" type="text">
					</div>
					<!-- /Form-name -->

					<div class="form-group">
						<input class="form-control" id="email" placeholder="Your email" value="" parsley-trigger="change" required="" type="email">
					</div>
					<!-- /Form-email -->

					<div class="form-group">
						<textarea class="form-control" id="message" rows="8" placeholder="Message" parsley-trigger="change" required=""></textarea>
					</div>
					<!-- /Form Msg -->

					<input type="hidden" id="_subject" value="[FeedCrunch.io] - A new message has arrived" />
					<input type="text" id="_gotcha" style="display:none" />

					<div class="row">
						<div class="col-xs-12">
							<div id="success-form" class="text-success" style="display: none;">
								E-mail was successfully sent.
							</div>
							<div class="error" id="err-form">
								E-mail was successfully sent.
							</div>
							<div class="text-center">
								<hr>
								<button type="submit" class="btn btn-custom btn-submit" id="send">Submit</button>
							</div>
						</div> <!-- /col -->
					</div> <!-- /row -->

				</form> <!-- /form -->
			</div> <!-- end col -->

		</div> <!-- end row -->

	</div> <!-- end container -->
</section>
<!-- End Contact Form -->

{% endblock %}
