{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<!-- Header title -->
<section class="bg-custom header-title-box">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
			  <h3 class="text-white">Get In Touch</h3>
			</div>
		</div>
	</div> <!-- end container -->
</section>
<!-- END Header title -->



<!-- Contact Form -->
<section class="section">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h3 class="title">Send us a Message</h3>
				<p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br> designed for describing your app, agency or business.</p>
			</div>
		</div> <!-- end row -->

		<div class="row">

			<!-- Contact form -->
			<div class="col-sm-6">
				<form role="form" name="ajax-form" id="contact-form" action="https://formsubmit.io/send/17a46d93-adb2-4bd5-8694-ec9ba05bf5fd" method="post" class="contact-form" data-parsley-validate="" novalidate="">

					<div class="form-group">
						<input class="form-control" id="name2" name="name" placeholder="Your name" value="" parsley-trigger="change" required="" type="text">
					</div>
					<!-- /Form-name -->

					<div class="form-group">
						<input class="form-control" id="email2" name="email" placeholder="Your email" value="" parsley-trigger="change" required="" type="email">
					</div>
					<!-- /Form-email -->

					<div class="form-group">
						<textarea class="form-control" id="message2" name="message" rows="5" placeholder="Message" parsley-trigger="change" required=""></textarea>
					</div>
					<!-- /Form Msg -->

					<div class="row">
						<div class="col-xs-12">
							<div id="success-form" class="text-success" style="display: none;">E-mail was successfully sent.</div>
							<div class="error text-center" id="err-form"></div>
							<div class="text-center">
								<button type="submit" class="btn btn-custom" id="send">Submit</button>
							</div>
						</div> <!-- /col -->
					</div> <!-- /row -->

				</form> <!-- /form -->
			</div> <!-- end col -->

			<div class="col-sm-4 col-sm-offset-1">
				<div class="contact-box">

					<div class="contact-detail">
						<i class="pe-7s-map-marker"></i>
						<address>
							795 Folsom Ave, Suite 600<br>
							San Francisco, CA 94107
						</address>
					</div>

					<div class="contact-detail">
						<i class="pe-7s-phone"></i>
						<p>
							(120) 456-789-123
						</p>
					</div>

					<div class="contact-detail">
						<i class="pe-7s-mail-open-file"></i>
						<p>
							<a href="">support@yourmail.com</a>
						</p>
					</div>

				</div>
			</div> <!-- end col -->
		</div> <!-- end row -->

	</div> <!-- end container -->
</section>
<!-- End Contact Form -->

{% endblock %}
