{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>FeedCrunch.io | Share your expertise with the world</title>

	<!--pageMeta-->

	<!-- Lib CSS -->
	<link href="{% static "home/css/rgen.min.css" %}" rel="stylesheet">
	<link href="{% static "home/css/custom.min.css" %}" rel="stylesheet">

	<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{
			background:#fff;
			clear:left;
			font:14px Helvetica,Arial,sans-serif;
			color: #323232;
		}
		#mc_embed_signup .button {
			background-color: #6c6c6c;
		}
	</style>

	<!-- Favicons -->
	<link rel="icon" href="{% static "home/images/favicons/favicon.ico" %}">
	<link rel="apple-touch-icon" href="{% static "home/images/favicons/apple-touch-icon.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "home/images/favicons/apple-touch-icon-72x72.png" %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "home/images/favicons/apple-touch-icon-114x114.png" %}">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	<script src="{% static "home/js/html5shiv.js" %}"></script>
	<script src="{% static "home/js/respond.min.js" %}"></script>
	<script src="{% static "home/js/matchMedia.js" %}"></script>
	<![endif]-->

	<meta name="description" content="FeedCrunch is an intuitive news recommendation platform">


	<meta property="og:title" content="FeedCrunch | RSS Feeds to the next level.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.feedcrunch.io/">
	<meta property="og:image" content="{% static "home/images/social-share-images/social-img.png" %}">
	<meta property="og:image:type" content"image="" jpeg"="">
	<meta property="og:description" content="FeedCrunch is an intuitive news recommendation platform">
	<meta property="og:site_name" content="FeedCrunch">

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="FeedCrunch | RSS Feeds to the next level.">
	<meta itemprop="description" content="FeedCrunch is an intuitive news recommendation platform">
	<meta itemprop="image" src="{% static "home/images/social-share-images/social-img.png" %}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@feedcrunch_io">
	<meta name="twitter:title" content="FeedCrunch | RSS Feeds to the next level.">
	<meta name="twitter:description" content="FeedCrunch is an intuitive news recommendation platform">
	<meta name="twitter:creator" content="@feedcrunch_io">

	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="{% static "home/images/social-share-images/social-img.png" %}">

</head>
<body>

<div id="page">
	<!--
	************************************************************
	* Navigation
	************************************************************ -->
	<nav class="nav-wrp nav-1 light navbar-fixed-top nav-show z3">
		<div class="container pd-0 bdr-b flex-cc z3">
			<div class="flex-row gt0 middle-md">

				<!--=================================
				= Logo section
				==================================-->
				<div class="flex-col-md-3">
					<div class="nav-header">
						<a class="navbar-brand" href="#"><img src="{% static "home/images/logo1.png" %}" alt="Brand logo" class="pd-tb-3"></a>
						<a class="nav-handle" data-nav=".nav" data-navopen="pe-7s-more" data-navclose="pe-7s-close"><i class="pe-7s-more"></i></a>
					</div>
				</div><!-- // END : Column //	-->

				<!--=================================
				= Navigation links
				==================================-->
				<div class="flex-col-md-9">
					<div class="nav">

						<ul class="nav-links sf-menu sf-js-enabled sf-arrows pd-tb-5" style="touch-action: pan-y;">
							<li><a href="#home">Home</a></li>
							<li><a href="#solution">Our Solution</a></li>
							<li><a href="#mobile">Mobile</a></li>
							<li><a href="#howWorks">How It Works</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="#team">Team</a></li>
							<li><a href="/contact/">Contact</a></li>
						</ul><!-- // END : Navigation links //	-->
							<!-- <li class="nav-divider"></li> -->

						<div class="nav-other">
							{% if user.is_authenticated %}
								<ul class="nav-links sf-menu sf-js-enabled sf-arrows pd-tb-5" style="touch-action: pan-y;">
									<li><a href="/logout/">Logout</a></li>
								</ul><!-- // END : Navigation links //	-->

								<a href="/@{{user.username}}/admin/" class="btn btn-white small bdr-2 round mr-6">
									<span class="btn-txt txt-upper">Admin Panel</span>
								</a>
							{% else %}
								<ul class="nav-links sf-menu sf-js-enabled sf-arrows pd-tb-5" style="touch-action: pan-y;">
									<li><a href="/login/">Login</a></li>
								</ul><!-- // END : Navigation links //	-->

								{% if 'signup' not in request.path %}
								<a href="/signup/" class="btn btn-white small bdr-2 round mr-6">
									<span class="btn-txt txt-upper">Try for free</span>
								</a>
								{% endif %}
							{% endif %}
						</div><!-- // END : Contact button //	-->

					</div><!-- // END : Nav //	-->


				</div><!-- // END : Column //	-->

			</div><!-- // END : row //	-->

		</div><!-- // END : container //	-->
	</nav>

	<!-- ************** END : Navigation **************	-->



	<!-- ***********************************************************
	* Header section
	************************************************************ -->
	<section class="pd-tb-0 bg-white" id="home" style="min-height: 100vh;">

		<!--=================================
		= Content section
		==================================-->
		<div class="pd-t-150 pd-b-60 pos-rel z2 typo-light" style="overflow: hidden;">
			<div class="container pos-rel z2">

				<div class="flex-row gt20 middle-md">
					<div class="flex-col-md-12">
						<!--=================================
						= Content
						==================================-->
						<h2 class="title fs38 lh-2 align-c">
							Introducing FeedCrunch.io - RSS Feeds to the next level
						</h2>

						<div class="align-c">
							<p class="title-sub italic mr-0 mini pd-t-30">
								FeedCrunch.io allows you to store, manage, publish, share and organize thousands of links with RSS Feeds.
							</p>
							<div class="pd-t-80 align-c">
								<button type="button" class="btn btn-white small bdr-2 round mr-6" data-toggle="modal" data-target="#modalIOS">
									<i class="fa fa-apple fs28 btn-icon"></i> <span class="btn-txt txt-upper">App Store</span>
								</button>

								<a href="/signup/" class="btn btn-white small bdr-2 round mr-6">
									<i class="pe-7s-paper-plane fs28 btn-icon"></i> <span class="btn-txt txt-upper">Sign Up Now and Get Started</span>
								</a>

								<button type="button" class="btn btn-white small bdr-2 round mr-6" data-toggle="modal" data-target="#modalAndroid">
									<i class="fa fa-android fs28 btn-icon"></i> <span class="btn-txt txt-upper">Google Play</span>
								</button>
							</div>
						</div>
					</div><!-- // END : column //	-->


				</div><!-- // END : row //	-->

				<!--=================================
				= Buttons
				==================================-->

			</div><!-- // END : Container //	-->
		</div>
		<!-- ======= END : Content section =======	-->

		<!--=================================
		= Phone image and logo
		==================================-->
		<div class="pos-rel z2" style="position: inherit;">
			<div class="container pos-rel z2">
				<img src="{% static "home/images/application_preview.png" %}" class="mr-auto w80" alt="phone image">
			</div><!-- // END : Container //	-->
			<b class="bg-color1 full-wh"></b>
		</div>
		<!-- ======= END : Phone image and logo =======	-->
		<div class="full-vh bg-cc bg-cover bg-full-vh" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(&quot;{% static "home/images/blur-bg3.jpg" %}&quot;);"></div>
	</section>
	<!-- ************** END : Header section **************	-->

	<!-- ***********************************************************
	* Our Solution section
	************************************************************ -->
	<section class="pos-rel pd-tb-large bg-dark1 pd-tb-small" id="solution">
		<div class="container pos-rel z1 typo-light align-c">

			<div class="mr-auto mr-b-60">
				<h2 class="txt-upper fs44">Complete Curration solution</h2>
				<p class="fs18 pd-t-20">We believe in high quality content paired with simple and effective design for knowledge management and communication.</p>
			</div>

			<a href="/signup/" class="btn btn-color4 large round bdr-2 mr-b-20">FeedCrunch Suite</a>

			<div class="bdr-l bdr-op-2 light mr-auto w0 min-px-h50"></div>
			<div class="bdr-t bdr-l bdr-r bdr-op-2 light min-px-h50 mr-auto mr-b-20"></div>


			<div class="flex-row gt40 mb20">
				<div class="flex-col-md-2">
					<div class="info-obj img-t g10 mini align-c">
						<div class="img">
							<span class="iconwrp txt-color4">
								<i class="fa fa-rss btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="bold-n fs16 mr-0">Subscribe to all your favourite websites</h3>
						</div>
					</div>
				</div><!-- // END : column //	-->

				<div class="flex-col-md-2">
					<div class="info-obj img-t g10 mini align-c">
						<div class="img">
							<span class="iconwrp txt-color4">
								<i class="fa fa-envelope btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="bold-n fs16 mr-0">We process your Newsletters for you</h3>
						</div>
					</div>
				</div><!-- // END : column //	-->

				<div class="flex-col-md-2">
					<div class="info-obj img-t g10 mini align-c">
						<div class="img">
							<span class="iconwrp txt-color4">
								<i class="fa fa-user btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="bold-n fs16 mr-0">Personalised Recommendation</h3>
						</div>
					</div>
				</div><!-- // END : column //	-->

				<div class="flex-col-md-2">
					<div class="info-obj img-t g10 mini align-c">
						<div class="img">
							<span class="iconwrp txt-color4">
								<i class="fa fa-share-alt btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="bold-n fs16 mr-0">Connect to all major Social Networks</h3>
						</div>
					</div>
				</div><!-- // END : column //	-->

				<div class="flex-col-md-2">
					<div class="info-obj img-t g10 mini align-c">
						<div class="img">
							<span class="iconwrp txt-color4">
								<i class="fa fa-mobile btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="bold-n fs16 mr-0">Mobile Experience (iOS &amp; Android)</h3>
						</div>
					</div>
				</div><!-- // END : column //	-->

				<div class="flex-col-md-2">
					<div class="info-obj img-t g10 mini align-c">
						<div class="img">
							<span class="iconwrp txt-color4">
								<i class="fa fa-cloud btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="bold-n fs16 mr-0">Empowered by Amazon Cloud</h3>
						</div>
					</div>
				</div><!-- // END : column //	-->
			</div><!-- // END : row //	-->

		</div><!-- // END : Container //	-->
	</section>
	<!-- ************** END : Our Solution section **************	-->


	<!-- ************************************************************
	* Mobile Experience section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-white" id="mobile">
		<div class="container">

			<!--=========================================
			=						Content section - 1						=
			==========================================-->
			<div class="w75 mr-auto align-c">
				<h2 class="title">Unique and Simple Experience</h2>
				<p class="title-sub small">Get the smoothest experience, reading your news in a distraction-free environment</p>
				<hr class="mr-tb-50">
			</div>

			<div class="flex-row middle-md mb20">

				<div class="flex-col-md-3">
					<div class="info-obj img-t g10 mini align-c mr-b-20">
						<div class="img txt-color1">
							<span class="iconwrp txt-color4">
								<i class="fa fa-newspaper-o btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="title tiny bold-n">Read your news everywhere</h3>
							<p class="mr-0">
								No more excuse not to stay informed. Get the best news when you need them.
							</p>
						</div>
					</div><!-- info box -->

					<hr class="mr-t-30 mr-b-20">

					<div class="info-obj img-t g10 mini align-c mr-b-20">
						<div class="img txt-color1">
							<span class="iconwrp txt-color4">
								<i class="fa fa-envelope-o btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="title tiny bold-n">Newsletters</h3>
							<p class="mr-0">
								You want to subscribe to Newsletter, but never have time to read them ? We can process them for you.
							</p>
						</div>
					</div><!-- info box -->

					<hr class="mr-t-30 mr-b-20">

					<div class="info-obj img-t g10 mini align-c mr-b-20">
						<div class="img txt-color1">
							<span class="iconwrp txt-color4">
								<i class="fa fa-rss btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="title tiny bold-n">RSS Feeds</h3>
							<p class="mr-0">
								Almost every blogs and news websites have at least one RSS Feed. We can also process them for you.
							</p>
						</div>
					</div><!-- info box -->
				</div><!-- column -->

				<div class="flex-col-md-6 align-c">
					<img src="{% static "home/images/iphone-img-11.png" %}" class="mr-auto" alt="image">
				</div><!-- / column -->

				<div class="flex-col-md-3">
					<div class="info-obj img-t g10 mini align-c mr-b-20">
						<div class="img txt-color1">
							<span class="iconwrp txt-color4">
								<i class="fa fa-paper-plane-o btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="title tiny bold-n">Social Shares</h3>
							<p class="mr-0">
								You just found a fantastic article ?<br>
								Why not sharing it on social networks ?
							</p>
						</div>
					</div><!-- info box -->

					<hr class="mr-t-30 mr-b-20">

					<div class="info-obj img-t g10 mini align-c mr-b-20">
						<div class="img txt-color1">
							<span class="iconwrp txt-color4">
								<i class="fa fa-cogs btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="title tiny bold-n">Recommendation Engine</h3>
							<p class="mr-0">
								Bored about reading irrelevant news ?<br>
								Our engine is designed to fit you at best.
							</p>
						</div>
					</div><!-- info box -->

					<hr class="mr-t-30 mr-b-20">

					<div class="info-obj img-t g10 mini align-c mr-b-20">
						<div class="img txt-color1">
							<span class="iconwrp txt-color4">
								<i class="fa fa-cloud btn-icon"></i>
							</span>
						</div>
						<div class="info">
							<h3 class="title tiny bold-n">Cloud Computing</h3>
							<p class="mr-0">
								Our Application relies on the power of Cloud Computing.
								Blazing Fast and no Down time.
							</p>
						</div>
					</div><!-- info box -->
				</div><!-- column -->

			</div><!-- / row -->

		</div><!-- / container -->
	</section><!-- / Content section -->
	<!-- ************** END : Mobile Experience section **************	-->

	<!-- ************************************************************
	* How it works section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium bg-dark1" id="howWorks">
			<div class="container pos-rel z1 typo-light">

				<div class="w75 mr-auto align-c mr-b-60">
					<h2 class="title">How it works</h2>
					<p class="title-sub">Based on State of the Art Machine Learning Technology, we are able to provide you the very best content based on your previous readings and shares.</p>
				</div>

				<div class="flex-row gt20 mb20 middle-md mr-b-70">
					<div class="flex-col-md-5">
						<img src="{% static "home/images/process-img.svg" %}" alt="Process">
					</div><!-- // END : column //	-->

					<div class="flex-col-md-6 flex-col-md-offset-1">
						<div class="info-obj img-l g20 mini align-l mr-b-30">
							<div class="img txt-dark2"><span class="iconwrp txt-color4"><i class="pe-7s-science"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10 bold-n txt-color4">Machine Learning</h3>
								<p>
									We compute on a daily basis precise models that fits to you at best.
									Our Recommendation Technology based on Cutting Edge Deep Learning Research will provide you the best curation experience.
								</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g20 mini align-l mr-b-30">
							<div class="img txt-dark2"><span class="iconwrp txt-color4"><i class="pe-7s-share"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10 bold-n txt-color4">Connect your with all your networks</h3>
								<p>
									We are able to process: RSS Feeds, Newsletters and Major Social Networks.
									Definetely the only tool to rule them all !
								</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g20 mini align-l">
							<div class="img txt-dark2"><span class="iconwrp txt-color4"><i class="pe-7s-user"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10 bold-n txt-color4">Personalisation</h3>
								<p>
									Say goodbye to generic content based on keyword.<br>
									Our engine will adapt itself to your specific readings and likes.
								</p>
							</div>
						</div><!-- info box -->

					</div><!-- // END : column //	-->
				</div><!-- // END : row //	-->

				<div class="flex-row gt20 mb20 align-c middle-md">
					<div class="flex-col-md-4">
						<hr class="light">
					</div><!-- // END : column //	-->
					<div class="flex-col-md-4">
						<a href="/signup/" class="btn btn-color4 bold-n mr-auto large round">GET STARTED NOW</a>
					</div><!-- // END : column //	-->
					<div class="flex-col-md-4">
						<hr class="light">
					</div><!-- // END : column //	-->
				</div><!-- // END : row //	-->

			</div><!-- container -->
		</section>
	<!-- ************** END : How it works section **************	-->

	<!-- ***************************************************************************
	*															Pricing section														 *
	**************************************************************************** -->
	<section class="pd-tb-small pos-rel bg-white" id="pricing">
		<div class="container pos-rel z1">
			<div class="flex-row middle-md">
				<div class="flex-col-md-4">
					<h2 class="title">Easy Pricing</h2>
					<p class="title-sub">
						You can try the platform and our tools freely and upgrade whenever you like.<br>
						We bet you will love it !
					</p>
				</div>

				<!--=====================================
				=						Pricing details						=
				======================================-->

				<div class="flex-col-md-7 flex-col-md-offset-1 align-c">
					<div class="flex-row gt40 mb20">
						<div class="flex-col-md-6">
							<!-- Price block -->
							<div class="align-c bdr-1 bdr-op-1 pd-30 strikeout" disabled>

								<h2 class="title small pd-10">FREE</h2>

								<hr>

								<h3 class="fs40 bold-n mr-0">$0</h3>
								<p>Per Month</p>

								<hr>

								<p>100 Posts / Month</p>
								<p>20 Social Shares / Month</p>
								<p>5 Recommendations / Day</p>
								<p>Email Support</p>

								<hr>

								<a href="#" class="btn btn-default solid mr-tb-20" disabled>GET STARTED</a>
							</div>
							<!-- Price block -->
						</div><!-- column -->

						<div class="flex-col-md-6">
							<!-- Price block -->
							<div class="price-table-1 anim align-c bdr-1 bdr-color4 pd-30 rd-5 ">
								<span class="tag-text bg-color4">100% Free during public Beta</span>
								<h2 class="title small pd-10 txt-color4">PREMIUM</h2>

								<hr>

								<h3 class="fs40 bold-n mr-0">100% Free</h3>
								<p>No hidden cost</p>


								<hr>

								<p>Unlimited Posts</p>
								<p>Unlimited Social Shares</p>
								<p>Unlimited Recommendations</p>
								<p>Advanced Analytics</p>
								<p>Full API Access</p>
								<p>Email Support</p>

								<hr>

								<a href="/signup/" class="btn btn-default solid mr-tb-20">GET STARTED</a>
							</div>
							<!-- Price block -->
						</div><!-- column -->

					</div><!-- row -->
				</div><!-- column -->
			</div><!-- row -->

			<hr class="mr-tb-50">

			<!--=================================
			=						FAQ section						=
			==================================-->

			<h2 class="title small mr-b-40 align-c">Frequently Asked Questions</h2>

			<div class="flex-row gt40 mb40">
				<div class="flex-col-md-6">
					<h3 class="mr-b-10 fs18 bold-n">Lorem ipsum dolor sit amet</h3>
					<p>consectetur adipisicing elit. Minima vero incidunt vitae totam perferendis, facere esse explicabo corporis, fuga iure? distero modi commodi quis eligendi, veniam quidem ab quam repellat</p>
				</div>

				<div class="flex-col-md-6">
					<h3 class="mr-b-10 fs18 bold-n">Lorem ipsum dolor sit amet</h3>
					<p>consectetur adipisicing elit. Minima vero incidunt vitae totam perferendis, facere esse explicabo corporis, fuga iure? distero modi commodi quis eligendi, veniam quidem ab quam repellat</p>
				</div>

				<div class="flex-col-md-6">
					<h3 class="mr-b-10 fs18 bold-n">Lorem ipsum dolor sit amet</h3>
					<p>consectetur adipisicing elit. Minima vero incidunt vitae totam perferendis, facere esse explicabo corporis, fuga iure? distero modi commodi quis eligendi, veniam quidem ab quam repellat</p>
				</div>

				<div class="flex-col-md-6">
					<h3 class="mr-b-10 fs18 bold-n">Lorem ipsum dolor sit amet</h3>
					<p>consectetur adipisicing elit. Minima vero incidunt vitae totam perferendis, facere esse explicabo corporis, fuga iure? distero modi commodi quis eligendi, veniam quidem ab quam repellat</p>
				</div>
			</div>

		</div><!-- container -->
	</section>
	<!-- ************** END : Pricing section **************	-->

	<!-- ****************************************************************************
	*														 Download section														 *
	**************************************************************************** -->
	<section class="pd-tb-small pos-rel" id="download" style="overflow: hidden;">
		<div class="container pos-rel z1 align-c typo-light">
			<img src="{% static "home/images/logo-full.png" %}" class="max-px-h120 mr-auto mr-b-50" alt="icon">

			<h2 class="title large">Get the App Now!</h2>
			<p class="title-sub">FeedCrunch is now available for download. Join us and make your life easy.</p>

			<button type="button" class="btn btn-white small bdr-2 round mr-6" data-toggle="modal" data-target="#modalIOS">
				<i class="fa fa-apple fs28 btn-icon"></i> <span class="btn-txt txt-upper">App Store</span>
			</button>

			<button type="button" class="btn btn-white small bdr-2 round mr-6" data-toggle="modal" data-target="#modalAndroid">
				<i class="fa fa-android fs28 btn-icon"></i> <span class="btn-txt txt-upper">Google Play</span>
			</button>

		</div>
		<div class="full-wh bg-cc bg-cover" style="background-image: url(&quot;{% static "home/images/bg2.jpg" %}&quot;); transform: translate3d(0px, -23px, 0px);">
			<b class="full-wh bg-dark1 op-07"></b>
		</div>
	</section>

	<!-- ****************************************************************************
	*														 Team section																	*
	**************************************************************************** -->
	<section class="team-section team-section-3 edit-item bg-white" id="team">
		<div class="container align-c">
			<h2 class="title medium edit-item edit-content">Our Amazing Team</h2>
			<hr class="w50 mr-tb-40 mr-auto edit-item">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4 col-lg-push-2">
					<div class="info-obj img-t g20 large align-c edit-item">
						<div class="img edit-item"><img src="{% static "home/images/team/laurent.jpg" %}" class="rd edit-item" alt="image"></div>
						<div class="info edit-item">
							<h3 class="bold-1 fs20 edit-item edit-content">
								<b>Laurent Dunys</b>
								<br><span class="fs16 italic">CEO - Co-Founder</span>
							</h3>
							<p class="edit-item edit-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
							<hr class="w50 mr-auto edit-item">
							<div class="social-links fs26">
								<a target="_blank" href="https://twitter.com/ldunys" class="edit-item edit-content"><i class="fa fa-twitter edit-item"></i></a>
								<a target="_blank" href="https://www.linkedin.com/in/laurentdunys" class="edit-item edit-content"><i class="fa fa-linkedin edit-item"></i></a>
								<a target="_blank" href="https://www.facebook.com/ldunys" class="edit-item edit-content"><i class="fa fa-facebook edit-item"></i></a>
								<a target="_blank" href="https://www.feedcrunch.io/@laurent/" class="edit-item edit-content"><i class="fa fa-rss edit-item"></i></a>
							</div><!-- /.social-links -->
						</div>
					</div><!-- / info object -->
				</div><!-- / column -->

				<div class="col-sm-12 col-md-6 col-lg-4 col-lg-push-2 mobile-pd-t-100">
					<div class="info-obj img-t g20 large align-c edit-item w30">
						<div class="img edit-item"><img src="{% static "home/images/team/jonathan.jpg" %}" class="rd edit-item" alt="image"></div>
						<div class="info edit-item">
							<h3 class="bold-1 fs20 edit-item edit-content">
								<b>Jonathan DEKHTIAR</b>
								<br><span class="fs16 italic">CTO - Co-Founder</span>
							</h3>
							<p class="edit-item edit-content">
								I believe in challenging the status-quo on a daily basis.<br>
								With FeedCrunch, I hope helping more people to stop wasting time reading news.
							</p>
							<hr class="w50 mr-auto edit-item">
							<div class="social-links fs26">
								<a target="_blank" href="https://twitter.com/born2data" class="edit-item edit-content"><i class="fa fa-twitter edit-item"></i></a>
								<a target="_blank" href="https://fr.linkedin.com/in/jonathandekhtiar" class="edit-item edit-content"><i class="fa fa-linkedin edit-item"></i></a>
								<a target="_blank" href="https://github.com/DEKHTIARJonathan" class="edit-item edit-content"><i class="fa fa-github edit-item"></i></a>
								<a target="_blank" href="https://www.feedcrunch.io/@dataradar/" class="edit-item edit-content"><i class="fa fa-rss edit-item"></i></a>
							</div><!-- /.social-links -->
						</div>
					</div><!-- / info object -->
				</div><!-- / column -->

			</div>

		</div><!-- / container -->
	</section><!-- / Team section -->


	<!--
	****************************************************************************
	*															Footer section															*
	**************************************************************************** -->
	<!-- FOOTER -->
	<footer class="pos-rel pd-tb-50 bg-dark1" style="text-align:left;">
		<div class="container pos-rel z1 typo-light">
			<div class="row">
				<div class="col-sm-12 col-md-6" style="color:#fff">
					{% if display_user_count %}
						<h2 class="fs26">{{ user_count }} users registred since November 2016</h2>
					{% else %}
						<h2 class="fs26">{{ post_count }} articles posted since November 2016</h2>
					{% endif %}
					<p style="margin-bottom:10px;">We are proud to have everyday many more users adopting our platform.<br><br></p>
					<a class="twitter-follow-button" href="https://twitter.com/feedcrunch_io">Follow @FeedCrunch_io</a>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<div class='mobile-pd-t-100'></div>
				<div class="col-md-push-2 col-md-2 col-xs-6 ">
					<h5>FeedCrunch.IO</h5>
					<ul class="list-unstyled" style="color:#bebebe">
						<li><a href="#home">Home</a></li>
						<li><a href="#solution">Our Solution</a></li>
						<li><a href="#mobile">Mobile</a></li>
						<li><a href="#howWorks">How It Works</a></li>
						<li><a href="#pricing">Pricing</a></li>
						<li><a href="#team">Our Team</a></li>
					</ul>
				</div>

				<div class="col-md-push-2 col-md-2 col-xs-6">
					<h5>Support</h5>
					<ul class="list-unstyled" style="color:#bebebe">
						<li><a href="/contact/">Help &amp; Support</a></li>
						<li><a href="/terms/">Privacy Policy</a></li>
						<li><a href="/terms/">Terms &amp; Conditions</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div>

			</div>
			<!-- end row -->
			<hr class="mr-tb-30 light">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer-alt text-center">
						<p class="text-muted_footer m-b-0">
							Developed with <span style="color:red; font-size:1.2em;"><i class="fa fa-heart" aria-hidden="true"></i></span> at SWAI - 2016 © FeedCrunch.io
						</p>
					</div>
				</div>
			</div>
			<!-- end row -->

		</div>
		<!-- end container -->
	</footer>
	<!-- ************** END : footer **************	-->


</div>
<!-- /#page -->

<!-- Modal -->
<div class="modal fade" id="modalIOS" tabindex="-1" role="dialog" aria-labelledby="modalIOSLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title fs24">Thanks for supporting us !</h4>
			</div>
			<div class="modal-body">
				<div id="mc_embed_signup">
					<form action="//feedcrunch.us13.list-manage.com/subscribe/post?u=cdde65b7c674cb065563b331d&amp;id=91f4c4bc6b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<p class="fs16 align-c italic">
								Our dev-monkeys are currently busy playing with bananas...<br>
								We hope they will finish the mobile apps as soon as possible.
							</p>
							<p class="fs16 pd-tb-30">Subscribe to be alerted as soon as the application is available.</p>
							<div class="mc-field-group">
								<label for="mce-EMAIL">
									Email Address:
								</label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_cdde65b7c674cb065563b331d_91f4c4bc6b" tabindex="-1" value="">
							</div>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAndroid" tabindex="-1" role="dialog" aria-labelledby="modalAndroidLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title fs24">Thanks for supporting us !</h4>
			</div>
			<div class="modal-body">
				<div id="mc_embed_signup">
					<form action="//feedcrunch.us13.list-manage.com/subscribe/post?u=cdde65b7c674cb065563b331d&amp;id=91af58f5bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<p class="fs16 align-c italic">
								Our dev-monkeys are currently busy playing with bananas...<br>
								We hope they will finish the mobile apps as soon as possible.
							</p>
							<p class="fs16 pd-tb-30">Subscribe to be alerted as soon as the application is available.</p>
							<div class="mc-field-group">
								<label for="mce-EMAIL">
									Email Address:
								</label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_cdde65b7c674cb065563b331d_91af58f5bd" tabindex="-1" value="">
							</div>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



<script src="{% static "home/lib/pace/pace.min.js" %}"></script>
<script src="{% static "home/js/rgen.engine.min.js" %}"></script>
<script async src="{% static "home/js/menu.js" %}"></script>


</body>
</html>
