{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<!-- HOME -->
<section class="home bg-img-1" id="home" style="height:100vh;">
		<div class="container">
				<div class="row">
						<div class="col-sm-12 text-center">
								<div class="home-fullscreen" id="home-fullscreen">
										<div class="full-screen">
												<div class="home-wrapper home-wrapper-alt">
														<h1 class="font-light">FeedCrunch.io - RSS Feeds to the next level !</h1>
														<h4>FeedCrunch.io allows you to <b>store, manage, publish, share and organize</b> thousands of links with RSS Feeds.</h4>
														<a href="/signup" class="btn btn-custom">Get Started for Free</a>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</section>
<!-- END HOME -->



<!-- Features Alt -->
<section class="section"  id="design">
		<div class="container">

				<div class="row">
						<div class="col-sm-12">
								<div class="text-center">
										<div class="title-box-icon">
												<!-- <i class="pe-7s-medal"></i> -->
												<h3 class="title">Simple Design, Yet Effective.</h3>
										</div>
								</div>
						</div>
				</div><!-- end row -->
				<h4 class="text-muted" style="text-align:center; font-weight: 400;">We believe in high quality content paired with simple, effective design for knowledge management and communication.</h4>
				<div class="row" style="margin-top:50px;">
						<div class="col-sm-6" style="float: none; display: table-cell; vertical-align: top;">
								<div class="feat-description">

										<p class="text-muted"><h4 class="text-muted" style="font-weight: 500; margin-top:35px;">With Feedcrunch, you can: </h4><br><br>
											<ul>
												<li>
													<b>Publish</b> and <b>Share</b> your bookmarks in one handy RSS list<br><br>
												</li>
												<li>
													<b>Find</b> relevant topics with an integrated <b>search engine</b> and <b>categorize</b> new documents, links, webpage, etc.<br><br>
												</li>
												<li>
													<b>Showcase</b> your skill portfolio and share your <b>knowledge in a community</b>.<br><br>
												</li>
											</ul>
										</p>

										<a href="/@dataradar/" class="btn btn-custom"  style="margin-top:40px">Show me the platform in action.</a>
								</div>
						</div>

						<div class="col-sm-6" style="float: none; display: table-cell; vertical-align: top;">
								<img src="{% static "images/macbook.png" %}" alt="img" class="img-responsive" style=" position: absolute; top: 0; bottom: 0; margin: auto;">
						</div>

				</div><!-- end row -->

		</div> <!-- end container -->
</section>
<!-- end features alt -->


<!-- Features -->
<section class="section bg-light" id="features">
		<div class="container">

				<div class="row">
						<div class="col-sm-12 text-center">
								<h3 class="title">It's designed for describing your app, agency or business</h3>
								<p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br> designed for describing your app, agency or business.</p>
						</div>
				</div> <!-- end row -->

				<div class="row">
						<div class="col-sm-4">
								<div class="features-box">
										<i class="pe-7s-rocket"></i>
										<h4>Strategy Solutions</h4>
										<p class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
								</div>
						</div>

						<div class="col-sm-4">
								<div class="features-box">
										<i class="pe-7s-science"></i>
										<h4>Digital Design</h4>
										<p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin litera..</p>
								</div>
						</div>

						<div class="col-sm-4">
								<div class="features-box">
										<i class="pe-7s-display1"></i>
										<h4>Analytics Solutions</h4>
										<p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
								</div>
						</div>

				</div> <!-- end row -->


				<div class="row">
						<div class="col-sm-4">
								<div class="features-box">
										<i class="pe-7s-date"></i>
										<h4>Strategy Solutions</h4>
										<p class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
								</div>
						</div>

						<div class="col-sm-4">
								<div class="features-box">
										<i class="pe-7s-credit"></i>
										<h4>Digital Design</h4>
										<p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin litera..</p>
								</div>
						</div>

						<div class="col-sm-4">
								<div class="features-box">
										<i class="pe-7s-headphones"></i>
										<h4>Analytics Solutions</h4>
										<p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
								</div>
						</div>

				</div> <!-- end row -->

		</div> <!-- end container -->
</section>
<!-- end Features -->



<!-- PRICING -->
<section class="section" id="pricing">
		<div class="container">

				<div class="row">
						<div class="col-sm-12 text-center">
								<h3 class="title">Choose your perfect plan</h3>
								<p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br> designed for describing your app, agency or business.</p>
						</div>
				</div> <!-- end row -->

				<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
								<div class="row">

								{% block free_period %}
									{% if free_period %}
												<!--Pricing Column-->
												<article class="pricing-column col-md-push-4 col-md-4">
														<div class="inner-box">
																<div class="plan-header text-center">
																		<h3 class="plan-title">Time Limited Offer</h3>
																		<h2 class="plan-price">100 %Free</h2>
																</div>
																<ul class="plan-stats list-unstyled">
																	<li> <i class="pe-7s-ticket"></i>Unlimited Posts</li>
																	<li> <i class="pe-7s-share"></i>Unlimited Social Shares</li>
																	<li> <i class="pe-7s-display1"></i>Advanced Analytics</li>
																	<li> <i class="pe-7s-refresh-cloud"></i>Full Web API Access</li>
																	<li> <i class="pe-7s-mail-open"></i>Email Support</li>
																</ul>

																<div class="text-center">
																		<a href="/signup" class="btn btn-sm btn-custom">Signup Now</a>
																</div>
														</div>
												</article>
									{% else %}

												<!--Pricing Column-->
												<article class="pricing-column col-lg-4 col-md-4">
														<div class="inner-box">
																<div class="plan-header text-center">
																		<h3 class="plan-title">Basic</h3>
																		<h2 class="plan-price">Free</h2>
																</div>
																<ul class="plan-stats list-unstyled">
																		<li> <i class="pe-7s-ticket"></i>100 Posts/Month</li>
																		<li> <i class="pe-7s-share"></i>20 Social Shares/Month</li>
																		<li> <i class="pe-7s-mail-open"></i>Email Support</li>
																</ul>

																<div class="text-center">
																		<a href="/signup" class="btn btn-sm btn-custom">Signup Now</a>
																</div>
														</div>
												</article>

												<!--Pricing Column-->
												<article class="pricing-column col-lg-4 col-md-4">
														<div class="inner-box">
																<div class="plan-header text-center">
																		<h3 class="plan-title">Premium</h3>
																		<h2 class="plan-price">$5</h2>
																		<div class="plan-duration">Per Month</div>
																</div>
																<ul class="plan-stats list-unstyled">
																	<li> <i class="pe-7s-ticket"></i>Unlimited Posts</li>
																	<li> <i class="pe-7s-share"></i>Unlimited Social Shares</li>
																	<li> <i class="pe-7s-display1"></i>Advanced Analytics</li>
																	<li> <i class="pe-7s-mail-open"></i>Email Support</li>
																</ul>

																<div class="text-center">
																		<a href="/signup" class="btn btn-sm btn-custom">Signup Now</a>
																</div>
														</div>
												</article>

												<!--Pricing Column-->
												<article class="pricing-column col-lg-4 col-md-4">
														<div class="inner-box">
																<div class="plan-header text-center">
																		<h3 class="plan-title">Developer</h3>
																		<h2 class="plan-price">$15</h2>
																		<div class="plan-duration">Per Month</div>
																</div>
																<ul class="plan-stats list-unstyled">
																	<li> <i class="pe-7s-ticket"></i>Unlimited Posts</li>
																	<li> <i class="pe-7s-share"></i>Unlimited Social Shares</li>
																	<li> <i class="pe-7s-display1"></i>Advanced Analytics</li>
																	<li> <i class="pe-7s-refresh-cloud"></i>Full Web API Access</li>
																	<li> <i class="pe-7s-mail-open"></i>Email Support</li>
																</ul>

																<div class="text-center">
																		<a href="/signup" class="btn btn-sm btn-custom">Signup Now</a>
																</div>
														</div>
												</article>

											{% endif %}
										{% endblock %}
								</div>
						</div><!-- end col -->
			</div>
			<!-- end row -->


		</div> <!-- end container -->
</section>
<!-- End Pricing -->

{% endblock %}
