{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Title -->
        <title>FeedCrunch.IO | Administration Dashboard</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="FeedCrunch.IO | Administration Dashboard" />
        <meta name="keywords" content="administration,dashboard, feedcrunch, rss" />
        <meta name="author" content="Jonathan DEKHTIAR" />

        <link href="{% static "images/favicon.ico" %}" rel="shortcut icon">

        <!-- Styles -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" integrity="sha256-6DQKO56c9MZL0LAc7QNtxqJyqSa3rS9Gq5FVcIhtA+w=" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="{% static "plugins/metrojs/MetroJs.min.css" %}"/>

        <!-- Theme Styles -->
        <link type="text/css" rel="stylesheet" href="{% static "css/alpha_.css" %}"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/custom-admin.css" %}"/>


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style>
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px white inset !important;
            }
            .mn-header {
                z-index: 999;
                height: 60px!important;
                position: fixed;
                top: 0;
            }
        </style>

    </head>
    <body class="signin-page loaded">
        <div class="mn-content valign-wrapper">
            <header class="mn-header navbar-fixed">
                <nav class="indigo accent-3">
                    <div class="nav-wrapper row">
                        <div class="header-title col s3 m3">
                            <a href="/"><img src="{% static "images/logo-white.png" %}" style="height:15px;"></a>
                        </div>
                        <form class="left search col s6 hide-on-small-and-down">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Search" autocomplete="off">
                                <label for="search"><i class="material-icons search-icon">search</i></label>
                            </div>
                            <a href="javascript: void(0)" class="close-search"><i class="material-icons">close</i></a>
                        </form>
                    </div>
                </nav>
            </header>
            <main class="mn-inner container">
                <div class="valign">
                      <div class="row">
                          <div class="col s12 m6 offset-m3">
                              <div class="card white darken-1">
                                  <div class="card-content ">
                                      <span class="card-title">Welcome Back in FeedCrunch!</span>
                                        <div class="row">
                                            <form class="col s12" name="LoginForm" action="/login/" method="post">
                                                {% csrf_token %}
                                                {% if next %}
                                                    <input type="hidden" name="next" value="{{ next }}" />
                                                {% endif %}
                                                <div class="input-field col s12">
                                                    <input id="username" name="username" type="text" class="validate">
                                                    <label for="username">Username</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <input id="password" name="password" type="password" class="validate">
                                                    <label for="password">Password</label>
                                                </div>
                                                <div class="col s12 right-align m-t-sm">
                                                    <a href="/signup/" class="waves-effect waves-grey btn-flat">Sign Up</a>
                                                    <input type="submit" class="waves-effect waves-light btn teal" value="Login">
                                                </div>
                                            </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- Javascripts -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {% if debug %}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js" integrity="sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw=" crossorigin="anonymous"></script>
        {% endif %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js" integrity="sha256-ToPQhpo/E89yaCd7+V8LUCjobNRkjilRXfho6x3twLU=" crossorigin="anonymous"></script>

        <script>
            $(window).on("load", function(){
                setTimeout( function() {
                    if ($('input:-webkit-autofill')) {
                        // We know that this form has autofill on its way.
                        //Let's check this again after a delay as its not always done on window.load
                        $('input:-webkit-autofill').each(function () {
                            var label = $(this).siblings("label");
                            if (! label.hasClass("active")){
                                label.addClass("active");
                            }
                        });
                    }
                }, 350);
            });
        </script>

    </body>
</html>
