{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<!-- Header title -->
<section class="bg-custom header-title-box">
	<div class="container">
			<div class="row">
					<div class="col-sm-12 text-center">
						<h3 class="text-white">Terms and Conditions</h3>
					</div>
			</div>
	</div> <!-- end container -->
</section>
<!-- END Header title -->


<!-- FAQ -->
<section class="section">
	<div class="container">

			<div class="row">
					<div class="col-sm-12">
							<div class="text-center">
									<div class="title-box-icon title-about">
											<p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br> designed for describing your app, agency or business. <br><a href="../contact" class="btn btn-custom m-t-20">Email us your question</a></p>

									</div>
							</div>
					</div>
			</div> <!-- end row -->

			<div class="row">
					<div class="col-md-5 col-md-offset-1">
							<!-- Question/Answer -->
							<div>
									<h4 class="question"><span class="text-custom">Q.</span>What is Lorem Ipsum?</h4>
									<p class="answer text-muted"><b>A. </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>

							<!-- Question/Answer -->
							<div>
									<h4 class="question"><span class="text-custom">Q.</span>Why use Lorem Ipsum?</h4>
									<p class="answer text-muted"><b>A. </b>Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
							</div>

							<!-- Question/Answer -->
							<div>
									<h4 class="question"><span class="text-custom">Q.</span>How many variations exist?</h4>
									<p class="answer text-muted"><b>A. </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>

							<!-- Question/Answer -->
							<div>
									<h4 class="question"><span class="text-custom">Q.</span>What is Lorem Ipsum?</h4>
									<p class="answer text-muted"><b>A. </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
					</div>
					<!--/col-md-5 -->

					<div class="col-md-5">
							<!-- Question/Answer -->
							<div>
									<h4 class="question"><span class="text-custom">Q.</span>Is safe use Lorem Ipsum?</h4>
									<p class="answer text-muted"><b>A. </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>

							<!-- Question/Answer -->
							<div>
									<h4 class="question"><span class="text-custom">Q.</span>When can be used?</h4>
									<p class="answer text-muted"><b>A. </b>Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
							</div>

							<!-- Question/Answer -->
							<div>
									<h4 class="question"><span class="text-custom">Q.</span>License &amp; Copyright</h4>
									<p class="answer text-muted"><b>A. </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>

							<!-- Question/Answer -->
							<div>
									<h4 class="question"><span class="text-custom">Q.</span>Is safe use Lorem Ipsum?</h4>
									<p class="answer text-muted"><b>A. </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
					</div>
					<!--/col-md-5-->
			</div>
			<!-- end row -->

	</div> <!-- end container -->
</section>
<!-- END FAQ -->



<!-- CTA -->
<section class="section bg-light">
	<div class="container">

			<div class="row text-center">
					<div class="col-sm-10 col-sm-offset-1">
							<h5 class="text-uppercase m-t-0">We are Here to Help You</h5>
							<h2>Best Solutions for Your Business</h2>
							<a href="" class="btn btn-custom m-t-20">Get Started Now</a>
					</div>
			</div>

	</div>
</section>
<!-- END CTA -->
{% endblock %}
